[2017-08-30 06:05] eredo opened #606 "AsyncRoute causes "No precompiled component X found""
In angular 4.0.0-beta deferred routes are no longer working. Whenever an AsyncRoute is called the following exception is thrown:

[code]

Here an example implementation:

pubspec.yaml

[code]

main.dart

[code]

app_component.dart

[code]

deferred_route_component.dart

[code]

I'm not sure if this appeared in previous alpha versions as well, because we tried to migrate from 3.1.0 to 4.0.0-beta.

[2017-08-30 22:36] kevmoo opened #609 "Changelog: note between 4.x and 3.x section the package rename"
Otherwise, folks may be confused...

[2017-08-31 07:23] ranquild opened #610 "Use List<Object> instead of List in component providers"
In Component annotation `providers` parameter is specified as `List`. This requires to write code like this in strong mode with `implicit-dynamic` disabled: `@Component(providers: <Object>[MyType])`. Please change parameter type to `List<Object>` so it is not required to use `<Object>` anymore.

[2017-08-31 13:41] chalin opened #611 "Tag release as 4.0.0, rather than 4.0"
The release is currently tagged as [4.0](https://github.com/dart-lang/angular/releases/tag/4.0).
Could it be retagged as 4.0.0 to be consistent with all other version tags? (This is currently causing problems on the doc generation site.)

cc @matanlurey @kwalrath @kevmoo

[2017-08-31 15:03] chalin opened #612 "[4.0.0] injector.get(tokenDNE, default) returns null instead of default"
The following code from the AngularDart doc [dependency-injection](https://github.com/dart-lang/site-webdev/tree/4-dev/examples/ng/doc/dependency-injection) example used to work under 4.0.0-alpha (maybe also -beta):

[code]

That is, the default string `"R.O.U.S.'s? I don't think they exist!"` would be displayed for ROUS (which isn't being provided at any level of the app).

Now, in 4.0, `_injecto

[2017-08-31 15:23] kevmoo commented on #611
Happily!

[2017-08-31 16:08] kevmoo commented on #611
Done!

[2017-08-31 16:08] #611 closed

[2017-08-31 16:10] kevmoo commented on #612
CC @matanlurey @alorenzen

[2017-08-31 16:52] alorenzen commented on #609
Um, didn't we mention this first line of the changelog?

[2017-08-31 16:59] kevmoo commented on #609
Yeah – but if you're scrolling down to 3.x it might be worth reminding folks – that it's a version for another package

[2017-08-31 17:53] matanlurey commented on #612
Yup, this is a bug, and I think I have a fix. Thanks!

[2017-08-31 18:01] matanlurey commented on #610
Duplicate of #402

[2017-08-31 18:01] #610 closed

[2017-08-31 18:02] matanlurey commented on #609
Feel free to send a CL/PR, but I don't know what else to do myself.

[2017-08-31 18:02] #609 closed

[2017-08-31 18:03] matanlurey commented on #606
@eredo Unfortunately you'll need to also invoke `initReflector`:

[code]

[2017-08-31 18:03] #606 closed

[2017-08-31 18:05] matanlurey commented on #594
Have you tried the latest final release?

[2017-08-31 18:05] matanlurey commented on #583
Please re-open if end up finding anything specific to AngularDart here.

[2017-08-31 18:05] #583 closed

[2017-08-31 18:20] eredo commented on #606
Thanks, is this documented anywhere?

[2017-08-31 18:34] matanlurey commented on #606
I thought it was in https://github.com/dart-lang/angular/blob/master/doc/component_loading.md, but I see that it is not. I'll make a small update to the docs.

[2017-08-31 20:14] leonsenft commented on #522
Hey, could you please confirm if this behavior still occurs when you use `HostBinding` instead of the `host` property in the class annotation:

[code]

I suspect it will, but `host` is deprecated so if `HostBinding` happens to fix it, then I suggest you use it instead.

[2017-08-31 20:38] leonsenft commented on #522
Actually, there was never a contract that explicitly guaranteed order of bindings.

Consider the case where you have multiple directives on the same element, and all of them bind the same attribute; what would you expect the behavior to be?

We don't intend to reverse this behavior, as guaranteeing order is complex and can limit or hinder future optimizations.

In the example you gave, using an in

[2017-08-31 20:38] #522 closed

[2017-09-01 09:56] Cododoc commented on #594
I tried to update version 4.0.0. Compilation time dramatically increased.

I checked versions:

- 4.0.0
- 4.0.0-beta
- 4.0.0-alpha+3
- 4.0.0-alpha+2
- 4.0.0-alpha+1

[2017-09-01 14:10] Cododoc commented on #594
I did another experiment. I created two new projects by "stagehand" (web-angular).
I changed dependencies and compile them.

project1:
[code]
project2:
[code]

Run both projects on different ports.
[code]
Save app_component file and compare compilation time project1 and project2. Thereis a lag in firsth project.

I checked this on two different computers.
Can you reproduce it?

[2017-09-01 22:27] kwalrath opened #615 "Changelog should say angular requires 1.24"
As of https://github.com/dart-lang/angular/commit/991eab32a663604d6f76488b8becf75f4371b32b, the `angular` package requires the 1.24 SDK. We should explicitly say so in the changelog.

Maybe it should be under breaking changes?

[2017-09-02 01:43] rickbsgu opened #616 "*ngFor broken in angular(4)"
See StackOverflow issue: https://stackoverflow.com/questions/46008662/ngfor-not-working-in-dart-angular4

[2017-09-02 11:04] unicomp21 commented on #380
I know it's sad, but codegen can make a huge difference with respect to adoption rates.  Just look at pivotal/spring.  There are far better ways of doing things, yet they dominate due to codegen sugar.  Having a cli for common actions, would go a long ways towards attracting early adopters.  We have a term/concept for "technical debt".  Let's call this "marketing debt".

[2017-09-02 16:17] rickbsgu commented on #616
Answered.  Need to add NgFor to directives list.  I'm sure this is documented somewhere, but I couldn't find it.

[2017-09-02 16:17] #616 closed

[2017-09-03 15:50] chalin opened #617 "Deprecate COMMON_DIRECTIVES"
Given that COMMON_DIRECTIVES is now just an [alias for CORE_DIRECTIVES](https://github.com/dart-lang/angular/blob/e22f0e9ef32dd162c2ce0c9d17271341ef4c40d9/angular/lib/src/common/common_directives.dart#L56-L58), should COMMON_DIRECTIVES be deprecated?

cc @kwalrath

[2017-09-03 19:19] zoechi commented on #617
better deprecate both and add `coreDirectives` instead

[2017-09-05 13:10] a14n opened #618 "Migrate angular codelabs to angular-4"
The [Write a Material Design AngularDart Web App](https://codelabs.developers.google.com/codelabs/your-first-angulardart-web-app/) codelab still refers `angular2` package. This leads to analyzer messages:

[2017-09-05 13:15] #618 closed

[2017-09-05 13:19] a14n commented on #618
Sorry I used an old version of stagehand that was pointing to `angular2`.

[2017-09-05 15:22] afpatmin commented on #594
I have the same issue, occured after upgrading to angular 4.0.0-beta, and then 4.0.0.

[2017-09-05 21:35] kwalrath commented on #616
/cc @chalin

In the AngularDart guide, [Displaying Data](https://webdev.dartlang.org/angular/guide/displaying-data) & [Structural Directives](https://webdev.dartlang.org/angular/guide/structural-directives) show using ngFor and specifying the directives list, but they don't explicitly link them. [Template Syntax](https://webdev.dartlang.org/angular/guide/template-syntax) doesn't seem to show `dire

[2017-09-05 21:36] kwalrath opened #621 "Add directives: note to all directives' API doc"
See #616 for more info.

[2017-09-05 21:38] kwalrath commented on #616
There's already a webdev bug for this: dart-lang/site-webdev#857

[2017-09-05 21:54] jonahwilliams commented on #616
This is also a good case for better error messages.  Unless someone is already very familiar with Angular, then `ParseErrorLevel.FATAL: Property binding ngForOf not used by any directive on an embedded template` Is unlikely to be helpful in anyway.  Related bug: #447

[2017-09-05 22:19] kwalrath commented on #616
I believe that https://github.com/dart-lang/angular_analyzer_plugin will help people find these errors early. But we should still cover this in the docs.

[2017-09-06 17:46] leonsenft commented on #537
I've run into the following issue working on this.

Before, you could query for a base type via reference, and have it match derived types.

[code]

_It's worth noting this works without a `read` token since a component element with a reference publishes its instance under that reference for querying (similar to `TemplateRef` on a template element)._

If we instead infer the read type, it then que

[2017-09-06 20:13] serates commented on #600
Okay so this was an error on my side, i finally figured it out, this occurs from doing a [routerLink]=[null] on a tag. Maybe you can reproduce using that and maybe get a better error message maybe?

[2017-09-07 08:09] eredo opened #622 "Update angular_test README.md"
Using the provided `pubspec.yaml` provided in the [README.md](https://github.com/dart-lang/angular/blob/master/angular_test/README.md) causes `pub build` on 4.0 to hang because of `- angular/transform/codegen` and `- angular/transform/reflection_remover` transformers.
The webdev documentation on [how to test components](https://webdev.dartlang.org/angular/guide/testing/component/basics#!#toh-0pubs

[2017-09-07 17:54] leonsenft commented on #537
@zoechi The issue is inference doesn't work with inheritance currently, and if you set the read token explicitly it won't work with inheritance for the same reason. Consider this case.

[code]

Here we can't infer or use `read` explicitly since in both cases `BaseTab` won't match its derived types.

I've been doing some more testing and it looks like we may just be able to rely on the following pr

[2017-09-07 19:29] zoechi commented on #537
@leonsenft I think this is basically what I suggested

2. How can the selector fail? I think this should be an error.

[2017-09-07 20:15] leonsenft commented on #537
Fail as in not match anything, as in no instance of the thing you're querying for currently exists in the view. This isn't an error. Consider your query target is inside an `ngIf`, sometimes the query has a match, and sometimes it won't.

[2017-09-07 23:25] #523 closed

[2017-09-07 23:25] #612 closed

[2017-09-08 03:07] zoechi commented on #537
I assumed the information to be available statically (template variable exists in the template, or component or directive is used)
Not getting a result at runtime is a different story and not an error (like your `*ngIf` example)
Components added dynamically using `ViewContainerRef` aren't found anyway, are they?

I don't know about ContentChildren though. I guess here it's not possible to check st

[2017-09-08 18:42] leonsenft commented on #537
Yes, actually my example was runtime specific, but the original issue is about compile-time. Sorry for the bad example, that was confusing.

The issue I'm mentioning is less to do with what's statically possible, and more with the limitations of our compiler's current implementation.

What I meant by the selector failing, is not being able to find the correct type associated with a reference.

For

[2017-09-08 20:40] alexd1971 opened #623 "Async routing is not working"
There is a [sample application](https://github.com/kulshekhar/angular-dart-routing-lazy-loading) how to create asyncronous routing with angular2. It works fine. Trying to adopt it to angular v4.0.0 fails with following error in the browser console:
[code]

[2017-09-08 22:07] eredo commented on #623
You'll need to use the generated `.template.dart` file within your deferred loading factory.
See #606

As an example:

[code]

[2017-09-08 22:47] matanlurey commented on #623
Thanks @eredo - yes @alexd1971 Eric is correct.

There is another related example here (not router-specific):
https://github.com/dart-lang/angular/blob/master/doc/component_loading.md#deferred-loading

[2017-09-08 22:47] #623 closed

[2017-09-08 22:50] matanlurey commented on #615
Given that we are unlikely to push another 4.x, I'm closing as infeasible :-/

[2017-09-08 22:50] #615 closed

[2017-09-08 22:51] matanlurey commented on #600
The router is going to drastically change for 5.x, fwiw

[2017-09-08 22:51] #600 closed

[2017-09-08 22:51] matanlurey commented on #594
/cc @natebosch @jakemac53

Anything obvious?

[2017-09-08 23:07] natebosch commented on #594
Nothing comes to mind.

With something this significant that we don't see with bazel my focus would be any changes in the compiler that make it read different assets from before, or changes the order in which it reads assets.

[2017-09-08 23:28] matanlurey commented on #594
I can try and bisect this with @alorenzen next week. Thanks Nate.

[2017-09-09 01:04] matanlurey commented on #594
Here are the changes between `4.0.0-alpha` and `4.0.0-alpha+1`:

https://github.com/dart-lang/angular/compare/4.0.0-alpha...4.0.0-alpha+1

**Notable:**

https://github.com/dart-lang/angular/commit/33dccb9b6e886f587d0664df02afbb2dcf3d1c0e,
Flipped `usePlaceholder` to `true` for _barback_; this generates slightly more code, and potentially could be spawning more isolates in Barback or doing somethin

[2017-09-09 01:07] matanlurey commented on #594
⏰ ⚠️ 🔥

@natebosch here is the suspect code:

https://github.com/dart-lang/angular/blob/f03af39234a15f645917cc69d8a7c5f2ce1aad63/angular/lib/src/source_gen/template_compiler/template_processor.dart#L29-L40

Specifically, >= `4.0.0-alpha+1`, we now do:

[code]

Any advice?

[2017-09-10 15:11] zoechi commented on #537
So, what should be possible is to
- use the type annotation as default value for `read`.
- if that is not the desired behavior, the user needs to pass `read` explicitly.
- if the type annotation is `dynamic` or object, use the current behavior.

I think this would be fine. I don't see a real benefit in trying to deriving more information from wherever.

[2017-09-11 15:17] jakemac53 commented on #594
Hmm I think in barback land if that asset doesn't exist its going to wait until all other transformers that could potentially output that file are done before continuing, which is potentially the issue?

[2017-09-11 15:20] matanlurey commented on #594
Is there anyway to force it/i.e. don't wait? Otherwise we need to think of
a new short-term strategy to fix the check - perhaps give a flag to assume
certain packages have generated Angular code.

On Mon, Sep 11, 2017, 8:17 AM Jacob MacDonald <notifications@github.com>
wrote:

[2017-09-11 15:33] jakemac53 commented on #594
Nope, no way to force it. We should confirm this is the slow part as well (its just a hunch for now). Can you put some logging around that line?

[2017-09-11 17:00] leonsenft commented on #537
We can't do that though. As I've pointed out, you have to give precedence to the query results for a reference selector, before doing any type restriction. Please go back and look at the tabs example for why this is the case.

[2017-09-11 17:11] matanlurey commented on #594
Confirmed this is the source of the slowdown locally.

[2017-09-11 19:35] matanlurey commented on #594
I have a _potential_ fix @ https://github.com/dart-lang/angular/pull/624, if someone is able to try patching and using it will give me more confidence this is an approach to fix the problem. I'll have to think about how to land this/patch 4.x though.

[2017-09-11 20:56] leonsenft commented on #537
I've found a contradiction which I think makes this implementing this feature with the current API potentially too confusing for users.

### Reference Precedes Inference

Querying by reference has to take precedence over querying by inferred `read` token. Consider this example.

[code]
[code]
Here the `TabPanel` queries for all children with the `tab` reference, and relies on the fact that a `Refe

[2017-09-12 04:02] xrodneylee opened #625 "Make sure "pub serve" is running."
problem :
    When I run `xvfb-run -a pub run angular_test --test-arg=--tags=aot --test-arg=--platform=chrome`, using chrome platform, it always fail, and message is `Make sure "pub serve" is running`. If I change to use `dartium` platform, it work well. I don't know why ?

[2017-09-12 12:23] Cododoc commented on #594
@matanlurey I tried your patch. But nothing changed. Project compiling take about 30 seconds.

[2017-09-12 17:10] eredo commented on #594
@Cododoc  did you make sure to use the patched angular_compiler as well? I didn't see an improvement as well.

[2017-09-12 17:21] mjeffw opened #626 "pub build --mode=release never completes"
Running "pub build --mode=debug" completes as expected.

Running "pub build --mode=release" never completes.

Turning on --verbosity=all shows the following messages being repeated over and over:

    FINE: [Fine from BuilderTransformer: Instance of 'LibraryBuilder' on angular_forms|primary]:
    | Not yet complete after 16:26.0s
    FINE: [Fine from BuilderTransformer: Instance of 'TemplatePlaceh

[2017-09-12 17:23] sambbaron opened #627 "Forms not setting 'pristine' property on control change"
On form control changes, controls are only being set as dirty and not being tested for pristine status. Also, `AbstractControl` does not have related methods `markAsPristine` and `reset`.

In Angular1, NgModel captured `_originalValue` and set pristine on value change. Are there plans to implement this in the current version of Angular?

[2017-09-12 18:27] matanlurey commented on #594
Trying another approach, should have something to try relatively soon.

[2017-09-12 19:47] matanlurey commented on #627
/cc @TedSander @alorenzen @nshahan

[2017-09-12 19:49] matanlurey commented on #626
Hi @mjeffw thanks for filing.

I'm currently tackling some build-related issues as part of https://github.com/dart-lang/angular/issues/594, but until then I have the following suggestions:

* Remove `angular/transform/reflection_remover`

You can simply just rely on the `angular` transformer, and include it as an entry point:

[code]

If this works for you, please let me know. tl;dr, having multip

[2017-09-12 19:50] matanlurey commented on #625
Could you share a full stack trace/log and potentially a reproduction case?

[2017-09-12 21:59] kwalrath commented on #626
I think we should. dart-lang/site-webdev#658

[2017-09-13 02:31] xrodneylee commented on #625
Thanks for your response, below is my log.

[code]

[2017-09-13 02:38] matanlurey commented on #625
You're very welcome. I see:

[code]

This tells me... bad things happened. Could you share the ` transformers` section of your `pubspec`?

[2017-09-13 02:53] xrodneylee commented on #625
[code]

[2017-09-13 08:31] jsiedentop commented on #594
+1

[2017-09-13 10:56] mjeffw commented on #626
Taking out angular/transform/reflection_remover worked, thank you!

[2017-09-13 10:56] #626 closed

[2017-09-13 13:41] AndreyChernykh opened #629 "Make AngularDart completely tree-shakeable"
Hello.

We have discovered a very disappointing behavior of the dart tree shaking in case of the angular-annotated classes.

As you can see, there is no usage of any InjectableService or SimpleService in the code below:

[code]
If we build that project with `pub build` and look into the compiled `main.dart.js` we will see that the string `'Good news, everyone!'` is not present there, which is defi

[2017-09-14 15:15] jodinathan opened #630 "Bad state: No element when using routes"
once I add routes to a component it throws a stack trace within the builder:

`[BuilderTransformer: Instance of 'LibraryBuilder' on mongaba_admin|primary]:
Error running TemplateGenerator for mongaba_admin|lib/app_component.dart.
Error: Bad state: No element
Stack Trace:
#0      Object&ListMixin.firstWhere (dart:collection/list.dart:133)
#1      ReflectableEmitter.emitInitReflector (package:angula

[2017-09-14 15:39] matanlurey commented on #630
Unfortunately prefixing the router library (`@router.RouteConfig`) is not supported.

I can add a better error message, but given that the old router will be deprecated in 5.x, it is not on my priority list. I recommend importing without a prefix in this case, and just using `hide` and `show` if you have conflicts. Sorry about that.

[2017-09-14 15:39] #630 closed

[2017-09-15 00:20] chalin opened #631 "[angular_test] running in browser results in "Bad state" exception"
This is using Angular 4.0.0 and angular_test 1.0.0. To reproduce:
- Setup the AngularDart doc [starter project](https://webdev.dartlang.org/angular/guide/setup#create-a-starter-project).
- `pub get`
- Launch Dartium.
- `pub serve`
- Open [http://localhost:8081/app_test.html](http://localhost:8081/app_test.html)

All tests pass. The following is displayed on the console:
[code]

But, this exception

[2017-09-15 00:50] natebosch commented on #630
Will the new router handle this usage or fail with a better message?

[2017-09-15 00:52] matanlurey commented on #630
The new router is imperative and has no annotations to process.

[2017-09-15 00:58] jodinathan commented on #630
The error is gone away with the removal of the prefix, however, I am still unable to use AsyncRoute with the angular_router lib.
Once I try to navigate to the route, this error prints in the console:

`EXCEPTION: No precompiled component ViewUserLoginComponent found
STACKTRACE:
No precompiled component ViewUserLoginComponent found
    at Object.wrapException (http://local.meuwebinar.com.br:8081/ma

[2017-09-15 00:59] matanlurey commented on #630
You need to import the _generated_ code:

[code]

That is what has `initReflector` in it.

[2017-09-15 01:03] jodinathan commented on #630
it worked.
Jesus, it worked.

thanks

[2017-09-15 09:33] eredo commented on #625
Please mention me in case this has something todo with the transformer output of `dartson`. Then I can make proper adjustments.

[2017-09-15 15:07] eredo commented on #594
@matanlurey could exclude / include settings in the pubspec.yaml already help? We currently have the problem that #513 appears with MaterialCheckboxComponent and we can't move to 4.0 due to refresh cycles. Any further progress on this issue?

[2017-09-19 21:32] chalin opened #635 "angular_router 2: JsObject has no instance getter 'queryParameters' under Dartium"
I'm [upgrading](https://github.com/dart-lang/site-webdev/issues/1058) toh-5, [the Angular tutorial example that introduced the router](https://webdev.dartlang.org/angular/tutorial/toh-pt5), to use the angular_router 2.0.

The upgraded app **runs fine under Chrome**, but under **Dartium** the following **exception** is thrown:
[code]

I don't have the updated code out in a PR yet, but I will shortl

[2017-09-20 10:47] chalin opened #636 "angular_router 2: can't run component tests since pubspec is incomplete, etc"
I'd like to be able to run the project local component tests but I can't. In particular because of missing entries in the pubspec (which doesn't have any of the usual dev_dependencies). I've tweaked the pubspec, but there are other issues preventing the tests from being run.

cc @kwalrath @matanlurey

[2017-09-26 10:31] jrote1 opened #644 "When transformer is missing it still says angular2 should probably just say angular"
https://github.com/dart-lang/angular/blob/0d02e426c64dda371099e3f63e875c4b6d84f044/angular/lib/src/platform/bootstrap.dart#L114

[2017-09-26 14:29] chalin commented on #636
I still can't run the tests. The `angular_router` pubspec needs at least a `dev_dependency` on `angular_router.example`.

[2017-09-26 15:12] chalin commented on #621
In #616, [you wrote](https://github.com/dart-lang/angular/issues/616#issuecomment-327311046):

dart-lang/site-webdev#857 has been addressed. Does that mean that we can close this issue?

[2017-09-26 17:03] kwalrath commented on #621
Although we've fixed this issue in the webdev guides, it's still a problem in the API docs.

[2017-09-26 17:46] chalin opened #645 "angular_router 2.0.0-alpha: TemplateGenerator can't find routerDirectives"
I'm getting the following exception when I use 2.0.0-alpha on one of the Tour of Heroes examples, but the problem goes away if I use the router from a clone of this repo (btw WebStorm reports no issues):

[code]

[2017-09-27 18:14] #644 closed

[2017-09-27 18:59] matanlurey opened #648 "Consider renaming `<ng-content>` to `<@content>`?"
Rationale:

* `<ng-content>` is not a `@Directive` or `@Component`.
* Unlike most elements in a template, you don't put it in `directives: [ ... ]`
* It is entirely a compile-time operation.

Low priority, but came up in internal code labs with @TedSander

[2017-09-27 18:59] matanlurey commented on #645
@alorenzen Is this just because we're behind in some push?

[2017-09-27 19:18] matanlurey commented on #629
@AndreyChernykh:

So this is a [known (set of) issue(s)](https://github.com/dart-lang/angular/projects/4).

Historically, every annotation was runtime processed when we had a `dart:mirrors`-based implementation and a "code generation"-based implementation - they shared quite a bit of code, and as a result, were the lowest common denominator.

We've removed `dart:mirrors`, and fixed quite a bit sin

[2017-09-27 19:55] chalin commented on #645
@alorenzen I _was_ going to suggest the steps below to reproduce this problem, but I can't reproduce it anymore. I've since changed my system config, so I'm not sure what happened. I'll close this until I can reproduce it again.

- Get PR https://github.com/dart-lang/site-webdev/pull/1076
- `cd example/ng/doc/toh-5`
- Edit the toh-5 pubspec.yaml: drop the `dependency_overrides`
- `pub upgrade`
- `

[2017-09-27 19:55] #645 closed

[2017-09-27 22:18] matanlurey commented on #537
My intuition is to roll-out slowly, and only support unambiguous inference:

[code]

In this case, we *clearly* know what `child` is.

[2017-09-27 22:22] leonsenft commented on #537
@matanlurey Does that query for _exactly_ a `Child`, or any type assignable to `Child` (such as a `Grandchild` which extends `Child`)?

[2017-09-27 22:23] matanlurey commented on #537
Exactly a `Child`. Keep it simple. We can always expand later.

[2017-09-28 00:11] matanlurey opened #649 "Reified Types for "multi" Providers."
As implemented today, `multi` providers have a problem with Dart 2.0 compatibility:

[code]

[code]

In DDC, and upcoming in Dart 2.0, this is a _runtime_ error 😿 - I *think* all `multi` providers are _always_ reified as `List<dynamic>`. [Here is the current implementation in `ReflectiveInjector`](https://github.com/dart-lang/angular/blob/master/angular/lib/src/di/injector/reflective.dart#L144-L15

[2017-09-28 10:12] AndreyChernykh commented on #629
Thank you for the explanation.

[2017-09-28 23:36] adaojunior commented on #648
My impression is that when I'm using `<ng-content>` I don't actually realize that it is neither a `@Directive` or `@Component`. But what matters (IMHO) is that this is very natural/familiar because I've been using a similar tag since  angular js and even with polymer 1x which was the first library to use the `<content>` tag for this purpose.

Also, I believe `<ng-content>` looks better than `@cont

[2017-09-29 04:44] zoechi commented on #648
I think it's named this way because it emulates the native `<content>` element behavior.
So it's just an element. I find addind `@` to it's name weird.
To be consistent this would rquire to rename `<template>` to `<@template>` (I'd prefer `<ng-template>`)

There were also plans to replace `<content>` with `<slot>` https://developer.mozilla.org/en-US/docs/Web/HTML/Element/slot
which could make `<ng

[2017-09-29 09:49] tfzhu commented on #380
Please try this one: https://github.com/google/angular_cli

[2017-09-29 15:29] chalin commented on #645
FYI, it happened again while converting another example.

In summary, it seems to be some quirky cache interaction with **WebStorm**. Quitting WS and rerunning `pub upgrade` and then the component tests made the errors go away.

[code]

cc @kwalrath @kevmoo

[2017-09-29 17:27] matanlurey opened #651 "Add support for new function type syntax"
I imagine we don't have support for the following syntax:

[code]

... very-short term we could drop type information (go down to `Function`), if the compiler crashes currently with this syntax. But otherwise we need to be able to support the structurally typed function syntax in the collector/emitter.

[2017-09-29 17:45] matanlurey opened #652 "Support the analyzer's representation of function types"
Related: https://github.com/dart-lang/angular/issues/651.

As of the newest version of the Dart SDK, the following:

[code]

... no longer stores the name `VoidFunc` anywhere - as all function types are structural, and it's no longer supported/stored by analysis summaries/the element model. Instead what _is_ stored is the structural type, i.e.: _a function that returns void with no parameters_.

W

[2017-09-29 20:01] kwalrath commented on #645
cc @jwren

[2017-09-29 20:58] chalin opened #654 "angular_router 2: JsObject has no instance getter 'queryParameters' when testing"
I'm getting the same exception as reported in #635, but this time under **Chrome** when running tests using angular_router 2.0.0-alpha (Dart 1.24.2, Angular 4.0.0). I'll post a link to the tests soon.

Here is the exception:
[code]

cc @kwalrath @alorenzen

[2017-09-29 21:18] chalin commented on #654
The component tests that are failing are from this commit: https://github.com/dart-lang/site-webdev/pull/1076/commits/55c1a05c5629920858b0cf443908b81d0e1f00db. Specifically all the tests from `examples/ng/doc/toh-5/test/app.dart` (which is run via `all_test.dart`).

[2017-09-30 12:38] chalin opened #656 "angular_router 2 hash location strategy URLs differ from 1.x"
When using the `HashLocationStrategy` under the 1.x router, generated hrefs and addresses in the address bar (after following a router link) are consistently of the form

[code]

When using the 2.x router, _generated_ hrefs (from `routerLink`s) are of this form, but when navigating to such links the router rewrites these links by dropping the `/` after the hash:

[code]

Is this a desired change i

[2017-10-03 20:33] matanlurey opened #658 "Refactor Injector to remove closure allocations"
The current Injector API is ~like:

[code]

Unfortunately, the cost of allocating/using closures in both Dart2JS and DDC is much higher than the Dart VM, for a number of reasons. Since expecting `inject/get` to fail (and wanting a different default value) is more of an edge case, we can refactor this method into two methods:

[code]

... in cases where APIs don't use `@Optional()` at all, this sho

[2017-10-03 23:55] matanlurey commented on #649
I'm moving ahead with this.

[2017-10-06 16:47] dnp1 opened #660 "Form Validator doesn't work when condition is passed dynamically"
while this works:
`<input type="password" required placeholder="Senha"
               [(ngModel)]="login.password"
               minlength="12"
               #password="ngForm" [ngClass]="controlStateClasses(password)  "
               ngControl="password"/>`

This doesn't work:
`
<input type="password" required placeholder="Senha"
               [(ngModel)]="login.password"
               [attr

[2017-10-07 14:17] chalin opened #661 "`injector.get(tokenDNE, default)` returns empty string instead of default"
This is a followup to #612 (the fix to which I wasn't able to test before today). The same E2E test is failing:

[code]

---

The following code from the AngularDart doc [dependency-injection](https://github.com/dart-lang/site-webdev/tree/4-dev/examples/ng/doc/dependency-injection) example used to work under 4.0.0-alpha (maybe also -beta):

[code]

That is, the default string `"R.O.U.S.'s? I don't

[2017-10-07 14:31] chalin commented on #661
Btw, the links to the 3.x and current 4.x versions of the app are given below. If you launch the apps, look under "Other Injections". The 3.x app has "R.O.U.S.'s? I don't think they exist!", whereas the 4.x app does not.

- https://webdev-angular3-dartlang-org.firebaseapp.com/examples/ng/doc/dependency-injection
- https://webdev.dartlang.org/examples/dependency-injection/

[2017-10-07 23:58] chalin commented on #216
Here is the updated reference to the TS implementation: https://github.com/angular/angular/blob/master/packages/forms/src/directives/ng_form.ts

cc @kwalrath

[2017-10-08 10:10] chalin commented on #636
It would also be helpful to add a few lines to the README about how to run tests (both the browser and vm tests).

[2017-10-09 23:06] dnp1 commented on #660
It was already solved in Angular.io.
https://github.com/angular/angular/issues/7393

I'll submit a pull request that solves it soon.

[2017-10-09 23:34] TedSander commented on #660
Thanks for the offer of the pull request.

I think I'd like to make this a breaking change (only allow int expressions, not strings) and not have the validator recreate itself on each change.

Since I'd like this to be a larger breaking change I'll work on getting it done. Should get it done this week.

[2017-10-10 00:14] #652 closed

[2017-10-10 00:14] #658 closed

[2017-10-10 21:44] ranquild opened #665 "Reduce compiled templates code size"
We have large dart/angular application that compiles to 20mb minified javascript. With dart2js_info package I checked impact of *.template.dart libraries and found that they take ~50% of space. Overhead of AOT compilation is huge and its crucial for us to have this size reduced.

[2017-10-10 21:52] matanlurey commented on #571
Marking closed! All the changes are in!

[2017-10-10 21:52] #571 closed

[2017-10-10 21:53] matanlurey commented on #665
Thanks for filing @ranquild. It would be good to gather some information:

* What version of Dart `dart --version`?
* What version of AngularDart? (check your _pubspec.lock_)
* What parameters to `$dart2js` (transformer) do you have?
  * `--trust-type-annotations`?
  * `--trust-primitives`?

* What is the size of your application as a debug build (`pub build --mode=debug`)?

* Are you using `dart:

[2017-10-10 21:53] matanlurey commented on #665
/cc @kevmoo

[2017-10-10 21:55] kevmoo commented on #665
Also, @ranquild – are you using https://github.com/dart-lang/angular_components ?

If so, how are you referencing them?

[2017-10-10 22:32] ranquild commented on #665
@matanlurey Hi, thanks for fast response. I was wrong in first message, compiled dart code is only 12mb and not 20 ;)
1) Dart VM version: 1.24.2
2) 3.1 currently
3)
[code]
4) in debug mode with `minify: false` - 38.4 mb.
5) no `dart:mirrors`
6) no "tricky" `noSuchMethod` used. That's why in info.json file `"noSuchMethodEnabled": false`.

@kevmoo No, angular_components are not used.

[2017-10-10 22:38] TedSander commented on #665
Are you using perserveWhitespace: false in the components? Might want to try migrating over if you aren't we have seen significant size reductions in template files with that option.

[2017-10-10 22:39] ranquild commented on #665
@TedSander Yes, we use `perserveWhitespace: false` in all components.

[2017-10-10 22:40] ranquild commented on #665
@matanlurey Sent info.json in gitter in private channel.

[2017-10-11 01:30] matanlurey commented on #649
Landed.

[2017-10-11 01:30] #649 closed

[2017-10-11 01:32] matanlurey commented on #594
OK, I have an update! I landed a new alpha release of the `angular_compiler` that _might_ help:

https://pub.dartlang.org/packages/angular_compiler/versions/0.4.0-alpha#pub-pkg-tab-changelog

If you are brave:

[code]

It basically assumes that all `.dart` files your in package that runs that AngularDart transformer will have a corresponding `.template.dart` file ultimately generated. This is nati

[2017-10-11 05:42] matanlurey commented on #594
Oops, another change was required. PTAL: https://github.com/dart-lang/angular/pull/666.

[2017-10-11 18:08] matanlurey opened #668 "5.0.0-alpha is broken, needs analyzer dependency revved"
Workaround:

[code]

... and `pub upgrade`. We don't have any tests that would have caught this 😢

Additionally, @kevmoo is saying checking this in might be a problem, `pkg/test` and `pkg/build` don't support this package. It might be a requirement to use `dependency_overrides` for the time being.

[2017-10-11 18:13] kevmoo commented on #668
I've been able to use it fine locally...with a dev SDK

[2017-10-11 18:20] matanlurey commented on #668
It breaks if you inject a TypeDef

On Wed, Oct 11, 2017, 11:13 AM Kevin Moore <notifications@github.com> wrote:

[2017-10-11 20:02] ranquild commented on #665
@matanlurey We will upgrade to 4.x in few months.

[2017-10-11 21:22] #668 closed

[2017-10-12 13:29] chalin commented on #155
FYI, this will now be tracked via https://github.com/dart-lang/site-webdev/issues/582

[2017-10-12 16:35] olostan commented on #594
I don't know does this issue related to my problem or not, but I have strange behaviour - project builds with "mode=debug", but in release it...probably never ends (waited ~5 minutes):
[code]

I am using Dart ` 2.0.0-dev.3.0` and
[code]

[2017-10-12 18:31] matanlurey commented on #594
Hi @olostan: We found out using `angular/transform/**` instead of the default `angular` transformer causes deadlocks (and doesn't help your application in any way). Consider just simplifying - should fix that problem:

[code]

[2017-10-12 19:28] olostan commented on #594
@matanlurey strange... I am using:
[code]
(two transformers before angular are my custom that just prepare css files...

But yes, it looks like some kind of deadlock - `dart` process does not consume any CPU, seems like it is waiting for something...

[2017-10-12 19:40] olostan commented on #594
@matanlurey thnx! Removing
[code]
solved the issue

[2017-10-12 20:23] matanlurey opened #670 "AppView performance investigation"
Here are some remaining elements of `AppView` that look suspect:

## `.flatRootNodes`:

[code]

@jonahwilliams noticed this was critical path in creating standalone embedded views (i.e. to use in a table, or other standalone repetitive component). He found the following API in use to get the "first" root node:

[code]

He tried using `ComponentRef.location`, but that seems to have (non?)significan

[2017-10-12 22:42] jonahwilliams commented on #670
I did some more investigation and I haven't noticed any significant whitespace when using `componentRef.location`.  The test in question is most likely too strict.

[2017-10-14 17:46] cedx commented on #216
From the docs, to reset a form:

How can we do that? I don't find any `ngControl` API for marking a control as pristine.

[2017-10-14 19:04] chalin commented on #216
@cedx That feature isn't currently available (which is what this issue is about). Until this issue is resolved, and to avoid further confusion, I'll be removing that section of the docs very soon.

[2017-10-15 00:36] cedx commented on #216
@chalin Thanks for the clarification.

[2017-10-16 21:47] hterkelsen commented on #437
Closed with https://github.com/dart-lang/angular/commit/f819f19f4a93cbc588b897164f4afe0b05e1fc3d

[2017-10-16 21:47] #437 closed

[2017-10-16 21:47] leonsenft commented on #427
Prototyping showed the run-time improvements were negligible, and the build-time regressed.

[2017-10-16 21:47] #427 closed

[2017-10-16 22:05] leonsenft commented on #440
Closing until further discussion.

- Relying on change detection to conditionally subscribe means it's possible to miss an event dispatched programmatically after the condition changes, but before change detection runs.
- Ensuring no events are missed relies on subscribing immediately when the condition changes. This means any Angular-assisted solution would require some sort of generated hook use

[2017-10-16 22:05] #440 closed

[2017-10-16 22:34] leonsenft commented on #544
Closed by cf33a00c746a8f489860ee19441859d933f9c101.

[2017-10-16 22:34] #544 closed

[2017-10-16 22:38] hterkelsen commented on #505
Closed with https://github.com/dart-lang/angular/commit/44be80868f6b56c4e81d286dd6f61f84250db975

[2017-10-16 22:38] #505 closed

[2017-10-16 22:39] #499 closed

[2017-10-21 20:40] laagland opened #674 "Pub build hangs during CI build, local is fine"
My CI build keeps hanging during pub build.
Strange thing is that build completes on my local dev with same dart/angular versions

When running the command on CI server with --verbose the following message gets repeated endlessly:

[code]

I'm using the following pubspec

[code]

I'm seeing other topics that seem closely related (#626 / #594)

[2017-10-23 17:58] afpatmin commented on #594
Are there any status updates on this issue?

[2017-10-23 19:11] kevmoo commented on #594
Hey, @afpatmin

Our work to improve the build times maps to this work: https://github.com/dart-lang/build/milestone/11

We already have the end-to-end working. We're focusing on big performance wins now.

Thanks for your patience!

[2017-10-24 05:39] olostan opened #675 "AfterViewInit has different behaviour with dartdevc and dart2js"
I am using 5.0.0-alpha and found such strange difference when using dartdevc and dart2js:

If there is a binding to component's property in template and within `ngAfterViewInit` hook the property on which bound is modified, `dartdevc` produces error:
[code]
however,  when using Dart2JS there is no error raised. Using `ngOnInit` is ok for both compilers.

[2017-10-25 22:37] 4cm4k1 opened #676 "angular_router: 2.0.0-alpha compatible with angular 5.0.0-alpha?"
Is `angular_router` (2.0.0-alpha) compatible with `angular` (5.0.0-alpha), and if so, how can I do a manual dependency override?

[2017-10-25 22:59] kevmoo opened #677 "security.dart: Remove Safe*Impl classes from public API"
SafeHtmlImpl
SafeResourceUrlImpl
SafeScriptImpl
SafeStyleImpl
SafeUrlImpl
SafeValueImpl

[2017-10-25 23:00] matanlurey commented on #676
I don't see any reason why not. You can add this to your `pubspec.yaml`:

[code]

... and try it out. Please let us know if you have other questions :)

[2017-10-25 23:00] #676 closed

[2017-10-25 23:01] matanlurey commented on #675
Yup, this is WAI.

We only check for this error case in developer mode (i.e. "assertions enabled").

Is there a reason you'd want this in Dart2JS?

[2017-10-25 23:01] 4cm4k1 commented on #676
Thank you @matanlurey! I appreciate all the good work you all are doing. 😄

[2017-10-25 23:02] matanlurey commented on #661
This should be fixed in 4.x

[2017-10-26 09:18] chalin commented on #661
To reproduce this issue you can use:

[code]

Running yields (as expected):

[code]

Comment out the `providers` and the view becomes:

[code]

Let me know if you need any other info.

[2017-10-26 15:01] chalin commented on #661
Btw, this seems to be fixed under 5.x, but still fails under 4.x.

[2017-10-26 18:57] ranquild opened #678 "Add fragment-like components"
I'll explain it with example. Let's say you have `Button` component that accepts ng-content, and want to have `FilterButton`, `ShareButton` components that use `Button` and just push svg icon inside. Currently it is not possible to use `FilterButton` in place of `Button` because each component in Angular adds another dom node. I would like to have ability to create components in such way so no ext

[2017-10-26 20:26] chalin commented on #654
@matanlurey @alorenzen: I'm still seeing this same error under **Dart 2-dev and Angular 5-alpha**.

[2017-10-26 20:32] ranquild opened #679 "Add pure components"
Currently OnPush and Stateful components are checked when any of descendant components are marked for check, because when it happens whole path from that component to root component is marked for check. In most cases (in our app at least) OnPush components are actually pure components. That means that check should be required only when inputs are actually changed. What I suggest is to add "pure" c

[2017-10-26 20:36] ranquild commented on #679
Connected to https://github.com/dart-lang/angular/issues/502. @matanlurey Any info on this?

[2017-10-26 20:42] ranquild commented on #678
Connected to https://github.com/dart-lang/angular/issues/494. If it was possible to create fragment component with `input` as root node issue would be solved.

[2017-10-26 21:09] matanlurey commented on #678
Thanks for filing this! We've been talking about similar concepts at the office.

One idea was shifting template semantics to the template file (or string literal) itself:

[code]

So, if you used this, as such:

[code]

... it would emit in the DOM:

[code]

... with no overhead or concept of a root ("host") component.

On the other hand, if you _wanted_ a host component, you could continue to us

[2017-10-26 21:12] matanlurey commented on #679
I don't have an answer right now, but it's definitely been talked about.

[2017-10-27 19:10] AckerApple opened #680 "viewProviders only available at depth of 1"
I can't get a viewProvider to be available to the child of a child.

I get an error of "No Provider Found" when using @Host() in a child of a child looking for a viewProvider

What do I need to be doing to access a parent provider several children down?

[code]

Using Angular 4.4.6

[2017-10-27 23:09] leonsenft commented on #680
Hi @AckerApple, this is the repository for AngularDart. It looks like you're using the TypeScript variant. You can file this issue here: https://github.com/angular/angular/issues.

[2017-10-27 23:09] #680 closed

[2017-10-30 12:23] abnerh69 commented on #676
Hi **@matanlurey** today I started trying your advice, in my project pubspec.yaml file:

[code]
but Resolving dependencies...
Incompatible version constraints on angular:
- angular_components 0.9.0-alpha depends on version 5.0.0-alpha
- angular_forms 1.0.1-alpha depends on version ^5.0.0-alpha
- angular_router 2.0.0-alpha depends on version ^4.0.0
- huastecappadmin depends on version ^5.0.0-alpha

[2017-10-30 12:59] abnerh69 opened #681 "How to solve angular_router: ^2.0.0-alpha incompatibility with angular 5.0.0-alpha?"
Today I started trying advice from **@matanlurey** in https://github.com/dart-lang/angular/issues/676.   In my project pubspec.yaml file:

[code]
but Resolving dependencies...
[code]

Any Idea?

[2017-10-30 13:24] 4cm4k1 commented on #676
Add this to your `pubspec.yaml` @abnerh69:

[code]

:smile:

[2017-10-31 17:58] zoechi commented on #681
You already got an answer in #676
Why did you create the same issue again?

[2017-10-31 17:59] zoechi commented on #681
You still don't seem to have the `dependency_overrides` mentioned in #676

[2017-10-31 19:11] abnerh69 commented on #676
Yes, I didn't see "_overrides".  Thanks

[2017-11-01 11:14] ranquild opened #683 "Add dev-mode to for zone-related stuff"
Currently it is very easy to ruin application performance with Timers, Features and StreamSubscriptions in NgZone. It would be very helpful to have opt-in developer mode so when something is bound to NgZone, warning is somehow shown to developer (for example, print to console). So if developer notices that there are frequent `tick` calls, this mode can be enabled to find out what is the reason.

[2017-11-01 15:57] leonsenft commented on #681
Based on your response to #676 it seems like your issue is resolved. Please reopen if I'm mistaken.

[2017-11-01 15:57] #681 closed

[2017-11-03 15:38] #598 closed

[2017-11-06 16:22] jimmyff commented on #654
I also get this issue when running my application, router version: 2.0.0-alpha

Error and code:
https://gist.github.com/jimmyff/7494711c0f6fbc103aa7bbe4a1ef8992

[2017-11-09 14:34] jolleekin opened #686 "Add one-time binding support"
I currently use one-way bindings extensively to localize the UI. These bindings are only updated once when a component is instantiated. Keeping these bindings live doesn't help anything if not degrades the performance. If these bindings are one-time, Angular doesn't have to process these bindings any further, thus improving the performance.
Examples:
[code]

[2017-11-09 20:42] leonsenft commented on #686
Angular will only update bindings for `final` primitive fields on the first change change detection cycle. Is it possible to create `final` fields for your resources?

[code]

[code]

[2017-11-09 23:18] leonsenft commented on #661
@matanlurey Are we intending to backport a fix for 4.x or should we close this?

[2017-11-09 23:20] matanlurey commented on #661
We are not backporting.

On Thu, Nov 9, 2017 at 3:18 PM Leon Senft <notifications@github.com> wrote:

[2017-11-09 23:22] #661 closed

[2017-11-09 23:38] leonsenft commented on #656
I'm certain this wasn't intentional. Whether it matters or not, this inconsistency seems like a bug. I'll take a look.

[2017-11-10 00:55] leonsenft commented on #656
@chalin I can't reproduce the behavior you've described. I see `/#/foo` in all cases. Could you please verify this is still occurring, and if so provide a reproduction case?

[2017-11-10 02:46] chalin commented on #656
Surely, I'll look into that tomorrow. IIRC, I was running under Angular 4 and the first release of the 2.0 router. Which version did you test this with?

[2017-11-10 08:34] jolleekin commented on #686
Creating `final` primitive fields for all resource keys is too painful as there are more than a thousand keys.

There are two possible solutions I can think of.
1. Use an annotation
[code]

2. Add a one-time binding syntax. Below is the syntax from [AngularJS 1.x][1]
[code]

[1]: https://docs.angularjs.org/guide/expression#one-time-binding

[2017-11-10 16:41] leonsenft commented on #656
Good observation. I tested against the latest changes internally, so perhaps it was fixed.

Would you be able to check your example with the lastest 5.x to make sure it's not some condition in client code that causes this issue to manifest?

[2017-11-10 22:12] MichaelRFairhurst opened #687 "Improve error message for * on <template> element"
Currently using the * sytnax on a <template> element like

<template *ngIf="condition">
produces the error message

Invalid decorator in 'template' element
Providing a link to the * documentation could be more helpful for new users.

Originally filed here: dart-lang/angular_analyzer_plugin#451

[2017-11-13 14:49] pesimeao commented on #195
@sam-s4s I believe this is related https://github.com/angular/angular/issues/12930#issuecomment-287845199

Any progress on this issue? I believe the query should work accross multiple projection levels

[2017-11-13 23:37] matanlurey opened #688 "Intent to remove: QueryList"
The class `QueryList` is a narrow interface on top of `List` with a `.changes` getter:

[code]

However, this pattern isn't used widely, and the `changes` stream just returns all of the items in the list anyway (no diffing). It would be less costly and more idiomatic with the rest of the framework to just support a setter:

[code]

It would also remove the code needed to support `QueryList`, and t

[2017-11-13 23:39] matanlurey commented on #688
(The plan in my head would be to support the setter syntax, migrate all users to the setter syntax, and then remove the QueryList class. It would require relatively small changes in both the runtime and the compiler.)

[2017-11-14 00:23] nshahan commented on #656
I think a reproduction will be a combination of your web server settings and the base ref you have configured.

__With `<base href="/">` in my index file__
It seems like I can reproduce this behavior in development if my web server isn't hosting the web/ directory as the root folder.
`localhost:8080/path/to/app/web/index.html` <-- Type to access the index.
`localhost:8080/#routepath` <-- In the br

[2017-11-14 01:08] chalin commented on #656
@nshahan - thanks for the detailed report!

[2017-11-14 14:38] chalin opened #689 "angular_router(example): admin routerLink should be property binding"
In [lines 18-19](https://github.com/dart-lang/angular/blob/6fc43bb170683432f4532877d54abb3ccbc676c6/angular_router/example/lib/admin/admin_component.dart#L19) of `angular_router/example/lib/admin/admin_component.dart`, the `routerLink`s should be **property bindings**, not attribute bindings: e.g.,

[code]

instead of

[code]

Btw, the example app @HEAD doesn't run atm.

cc @kwalrath @nshahan

[2017-11-14 18:50] matanlurey opened #690 "Intent to deprecate: ComponentResolver"
The `ComponentResolver` class (originally called `Compiler` way-back-when) is roughly:

[code]

It suffers from the following problems:

1. It relies on the `initReflector()` API, blocking progress on https://github.com/dart-lang/angular/issues/532
2. It supports an asynchronous API - mostly this is used in a synchronous way
3. For Dart 2.0, this drops type information, and a better API is already

[2017-11-14 22:53] zarisi opened #691 "Cant use null as an option in a select"
Hi, today i was trying to use a ```<select>``` tath binds to a model tath can be null and i would liek to set an null option to show a default option when the object is null.

I tried with ```[ngValue]=""``` it sets the model to null but on the init of the select it doesnt select de value, and tried `[ngValue]="null"` but it set the text inside the option as the value

This is the select im using:

[2017-11-15 17:43] matanlurey opened #692 "Intent to Deprecate: ElementRef"
The `ElementRef` API existed entirely to abstract away the DOM in early versions of Angular:

[code]

AngularDart only supports running in the browser, and `nativeElement` is _always_ (`dart:html`) `Element`, which requires manual type casting or unsafe dynamic access to use. As of an earlier version of AngularDart, we added support for injecting `Element` or `HtmlElement` directly:

[code]

We're

[2017-11-15 21:36] matanlurey opened #693 "Intent to Deprecate: Public getters of a "Provider" instance."
The current `Provider` class looks something like this:

[code]

Providers can currently be used one of two ways:

1. Imperatively in APIs like `bootstrap` and `ReflectiveInjector.resolveAndCreate`:

[code]

[code]

2. Declaratively in `@Component` and `@Directive` annotations:

[code]

We're going to be focusing on usages like the _second_ example going forward, including a new syntax (exact synt

[2017-11-15 23:22] matanlurey opened #694 "Intent to Deprecate: Dartium support"
As of Dart 2.0 and AngularDart 5.0.0 (stable), there will no longer be Dartium.

* https://www.dartlang.org/dart-2.0#obsolete-features

Internally, almost all of our clients are using DDC (DartDevCompiler) for daily development, and we are no longer testing AngularDart on Dartium at all (it works on accident). Upcoming 2.0.0-dev releases of the Dart SDK will include breaking language and library c

[2017-11-16 20:55] zacharydenton opened #695 "Consider supporting &#32; in addition to &ngsp;"
I've started seeing the "ng space" `&ngsp;` entity (when you want to put a space in a preserveWhitespace: false template), and my first reaction was that it was a typo of `&nbsp;`. I imagine anyone familiar with HTML but not with AngularDart could also have this first reaction when seeing &ngsp;.

To avoid this confusion, can we use the standard space character entity (`&#32;`) instead of a new no

[2017-11-16 21:22] kwalrath commented on #695
I, too, thought it was a typo the first time I saw it.

[2017-11-16 22:12] leonsenft opened #696 "Implementing `AfterChanges` needlessly generates a `DirectiveChangeDetector`"
If a directive implements `AfterChanges`, the compiler is generating a `DirectiveChangeDetector` even if it's unnecessary.

Writing

[code]
generates

[code]

[2017-11-17 18:11] leonsenft opened #698 "Make Visibility.none default"
- [ ] Introduce `Visibility.all` to opt-in to the current behavior
- [ ] Flip `Directive.visibility` default to `Visiblity.none`

[2017-11-17 18:43] leonsenft opened #699 "Restrict default visibility of directives"
Directive visibility gives control over how and where a directive may be injected.

By default, all directives (including components) can be injected by any of their children. This adds cost to the generated code, regardless of whether they're ever injected or not. To remove this cost, we recently introduced `Visibility.none` which gave explicit control over whether a directive would be provided f

[2017-11-17 20:24] leonsenft commented on #656
Thanks for the details @nshahan. I intend to make all these variants as consistent as possible.

[2017-11-17 23:42] leonsenft commented on #656
There seems to be some concern about `/#` vs `#/`, but that's not actually the issue. The only issue is what's _after_ the `#`. The domain and fragment _must_ be separated by a path, but a path may or may not have a trailing `/`. This means here

- `localhost:8080#/dashboard` ❌  (try entering this in Chrome, it actually rewrites to the following)
- `localhost:8080/#/dashboard` ✅

the preceding `/`

[2017-11-18 00:25] #698 closed

[2017-11-20 23:15] leonsenft commented on #686
Hi @jolleekin, another option for your use case specifically would be to implement the `DoCheck` interface on your component. This would allow you to hand-write change detection code only for the fields you're expecting to change, and not pay the cost for the readonly bindings.

[2017-11-20 23:46] AlexanderJohr commented on #674
I also struggled with this.
After numerous attempts and days of failure I finally found the solution for this in my setup.

I had a lot of dart files in my "web" directory, also components for angular. Pub build hang until I moved most of the dart files into "lib." Maybe you can try that?

After the build was running again , pub showed me errors again. I see that you also use dartson. This and it'

[2017-11-20 23:55] AlexanderJohr commented on #626
For me that didn't work.

I also described this in #674

I had a lot of dart files in my "web" directory, also components for angular. Pub build hang until I moved most of the dart files into "lib."

After the build was running again , pub showed me errors again. Dartson was another cause of problems (It's seems not to be maintained anymore) so I'm trying to use built_value package now.

[2017-11-21 02:59] matanlurey opened #700 "Use the same dart_test.yaml across sub-packages"
Blocked by https://github.com/dart-lang/test/issues/723.

[2017-11-21 03:23] #654 closed

[2017-11-21 03:23] #689 closed

[2017-11-21 03:23] #696 closed

[2017-11-21 03:41] matanlurey commented on #99
Just an update: We still don't have a clear way to proceed here :-/

@jonahwilliams did some background research, and it's not clear how AngularDart can (today) rely on the `Future` as part of the component lifecycle - for example, they are not cancelable/abortable. Still open for other suggestions.

/cc @kevmoo

[2017-11-21 03:43] matanlurey commented on #202
Done.

[2017-11-21 03:43] #202 closed

[2017-11-21 03:45] #419 closed

[2017-11-21 03:46] matanlurey commented on #420
Assigning to @jakemac53 and @natebosch to close as `build_runner` comes online.

[2017-11-21 03:56] matanlurey commented on #562
Done.

[2017-11-21 03:56] #562 closed

[2017-11-22 00:06] matanlurey opened #704 "Travis: Long builds (>10min) cause timeouts"
Blocked by https://github.com/dart-lang/build/issues/641.

[2017-11-22 00:17] matanlurey opened #705 "Travis: Package test stops working after ~120 tests"
Blocked on https://github.com/dart-lang/test/issues/724.

To reproduce, see:

* https://github.com/dart-lang/angular/pull/703
* https://travis-ci.org/dart-lang/angular/jobs/305529279

Originally @alorenzen had split the runs into the following:

[code]

That's not maintainable, but I don't see an alternative if the test suites start timing out.

[2017-11-22 00:57] matanlurey opened #706 "Compiler can't trust the Dart code it receives is valid"
(Occurs in bazel, pub, and build_runner)

Invalid Dart code, such as missing imports, causes the analyzer to build a best-effort resolved AST, which sometime replaces unresolved types with `dynamic`, and unresolved objects with `null`. This means errors/warnings that would come up in the analyzer cause weird cascading effects/failures in our compiler.

It's hard for us to be precise and explain wh

[2017-11-22 05:09] matanlurey commented on #705
Failed again:
https://travis-ci.org/dart-lang/angular/jobs/305529279

[code]

[2017-11-22 23:58] kevmoo opened #707 "test/generate_template_test.dart broken by code_builder roll"
See https://travis-ci.org/dart-lang/angular/jobs/306044743

The 2.2.0 roll updated how import aliases are named.

[2017-11-25 09:40] jolleekin commented on #686
There are a lot of live bindings in addition to the resource bindings. By implementing `DoCheck`, does it mean I have to manually check all fields except `resources`? If so, it's really a pain.

[2017-11-27 18:36] leonsenft commented on #686
Yes, with `DoCheck` you're responsible for change detecting any bindings you expect to change.

[2017-11-27 20:15] matanlurey opened #710 "Lifecycle events that are "async" cause subtle bugs"
A lot of subtle bug across change detection have been narrowed down to the following:

[DartPad](https://dartpad.dartlang.org/3a12cceaf68d4125bdcd003619825d4f).

[code]

## Expected Behavior

[code]

## Actual Behavior

[code]

## Discussion

Unfortunately, there is no framework specific way to fix this, as we can't _force_ to run this synchronously, but the rest of the framework expects it to be

[2017-11-27 20:24] matanlurey commented on #710
One idea from internal discussion: change the return type to `avoid` with this as a hack:

[code]

[2017-11-27 20:27] leafpetersen commented on #710
Currently that (the `void` returning `async` function) will be a strong mode error, but the take away from the discussion in https://github.com/dart-lang/sdk/issues/31324#issuecomment-343247201 was that it shouldn't be.

[2017-11-27 20:29] matanlurey commented on #710
@leafpetersen: Wait, this will be legal?

[code]

[2017-11-27 21:06] leafpetersen commented on #710
@matanlurey Yes, that was my takeaway from the discussion in #31324.  As I said there, I don't feel like I have strong arguments for or against it, and @lrhn seems to feel that it's useful.  Happy to hear more feedback about it.

[2017-11-27 21:34] leonsenft commented on #635
Closed by https://github.com/dart-lang/angular/commit/b124d8b4810e3cb09506a1710ffb5dbb09880750

[2017-11-27 21:34] #635 closed

[2017-11-27 21:51] matanlurey commented on #688
This change has been accepted, and will be started.

The plan currently is:

* [ ] Add no-op support for a field typed with `dart:core#List`.
* [ ] Add actual implementation of the new query list.
* [ ] Deprecate `QueryList`.
* [ ] Allow the field to be typed `Iterable` as well as `List` for the new functionality.
* [ ] Migrate existing use cases to `dart:core#List`.
* [ ] Remove `QueryList`.

I e

[2017-11-27 23:29] leonsenft opened #711 "Can't inject aliased root component with Visibility.none"
A directive with `Visibility.none` can't be injected directly, but may provide itself for injection via another token.

[code]

Normally this would allow a child to later inject the directive via it's alias.

[code]

However, if `PrivateImplementation` is bootstrapped as the root component, these ceases to work, and injecting `PublicDependency` will yield an error.

[code]

[2017-11-28 00:26] matanlurey commented on #688
## Design

Currently the following code is generated to support `QueryList`:

[code]

[code]

[code]

[code]

Obviously this code could still use further optimizations, but the simplification of just setting immutable lists of child directives/elements/etc (and removed wrapping of QueryList, which Dart2JS knows isn't a JSArray) is an improvement overall and can lead to further improvements.

[2017-11-28 04:01] matanlurey commented on #468
This doesn't look like it reproduces anymore.

[2017-11-28 04:01] #468 closed

[2017-11-28 04:09] matanlurey opened #712 "Use a single "if" statement for "if (firstCheck)""
Example: https://github.com/dart-lang/angular/blob/089decdc8d646f0601a98563525081f54fefd00d/_goldens/test_files/empty_properties.template_release.golden#L100-L118

I naively thought dart2js would optimize this, but it doesn't seem to. Test case:

[code]

... emits ...

[code]

[2017-11-28 04:10] matanlurey commented on #712
Note that making `firstCheck` `final` doesn't seem to change the output.

[2017-11-28 04:12] matanlurey commented on #712
Filed https://github.com/dart-lang/sdk/issues/31462.

[2017-11-28 04:16] matanlurey commented on #707
Green now @ head. Thanks @alorenzen!

[2017-11-28 04:16] #707 closed

[2017-11-28 08:37] lrhn commented on #710
We have changed the behavior for Dart 2, so async functions start running immediately, up to the first await. We did that exactly because of issues like this (someone changing a sync function to async would be surprised by the initial check not being done immediately, I've caught a few race conditions like that in reviews).
I believe @floitschG is still working on implementing that and updating ex

[2017-11-29 00:05] leonsenft commented on #656
This is actually out of the router's control. If the `<base>` `href` is set in HTML, the browser will use this for all relative URLs. There's no difference between how the location is updated when using `<base>` vs `APP_BASE_HREF`, it's just that when using the former the browser updates relative to the `<base>` `href`, whereas when using the latter the browser updates relative to the current loca

[2017-11-29 05:06] matanlurey opened #716 "Generalize Visibility.local to other than useExisting: ..."
Right now `useExisting` is special cased to work for `Visibility.none/local`:

[code]

However, the following two cases should also work:

* [ ] `useFactory`

[code]

* [ ] `useClass`

[code]

... because, remember `useExisting` is just an alias for `useFactory` at the end of the day.

[2017-11-29 05:13] matanlurey commented on #238
@alorenzen: That might generalize better. I don't think we plan on doing this soon though.

[2017-11-29 05:14] matanlurey commented on #249
I'm making a bunch of helpful changes here this quarter, so I'll help co-own this w/ docs.

[2017-11-29 05:14] matanlurey commented on #249
Related: https://github.com/dart-lang/angular/issues/537

[2017-11-29 05:15] matanlurey commented on #537
@leonsenft: WDUT of my initial proposal? I might be able to tackle this!

[2017-11-29 06:10] matanlurey commented on #443
@ferhatb is tackling `ngAfterChanges`.

[2017-11-29 06:12] matanlurey commented on #449
@leonsenft WDUT?

[2017-11-29 06:13] matanlurey commented on #651
@leonsenft did you do this already?

[2017-11-29 06:22] #675 closed

[2017-11-29 14:42] chalin commented on #656
It is my understanding that an app's base href (regardless of how it is defined), should only affect what goes _before_ the \#. That is, the app base is the path prefix that defines where the app lives. To the right of that prefix is what the router manages based on the chosen location strategy (and the app's current path).

Under HashLocationStrategy, whether a path is rendered as

- `/some/app/b

[2017-11-29 16:58] rwrozelle opened #718 "ComponentResolver resolveComponentSync method removed"
I understand you are deprecating ComponentResolver, but the change included removal of resolveComponentSync method.  This is causing a **breaking change** in my code when I test with the +1 release.  This should either be documented or the method put back in the class with a deprecation flag.

[2017-11-29 17:09] matanlurey commented on #718
This was never a supported API, and was not intended to be public, sorry.

Good news is that v5 is quite a way aways still.

[2017-11-29 17:09] #718 closed

[2017-11-29 17:38] rwrozelle commented on #718
But it was public and you removed it without notice.  Agree on V5 being "quite a way aways still", I've tried the DDC with only middling results.  Much slower.

![image](https://user-images.githubusercontent.com/8890259/33389718-c75a055a-d501-11e7-82d4-437a429c90f6.png)

[2017-11-29 17:42] leonsenft commented on #651
@matanlurey No I haven't looked into this.

[2017-11-29 17:45] leonsenft commented on #449
This was probably a Dartium issue as it won't compile in DDC.

[2017-11-29 17:45] #449 closed

[2017-11-29 18:28] leonsenft commented on #656
You're right, so this is actually a mistake in the router's current design, since it attempts to place the `<base href>` to the right of the `#`.

Hmm that's actually a good point!

I actually don't think this will break anything. In all cases, the `/` is optional; both URLs work.

Yeah, this inconsistency arises from whether you use `APP_BASE_HREF` or `<base href`>. But the inconsistencies are ev

[2017-11-29 21:45] matanlurey opened #720 "[Placeholder] Can't convert forms to use @HostListener"
I don't know what the issue is _yet_, this is just for tracking and referencing.

[2017-11-29 23:42] matanlurey opened #721 "Event listeners do not always propagate exceptions"
Need to add a regression test, fix, and then close this issue.

[2017-11-29 23:45] matanlurey commented on #721
It turns out this is a ~duplicate of https://github.com/dart-lang/angular/issues/631.

[2017-11-30 00:06] matanlurey commented on #721
https://github.com/dart-lang/angular/blob/e81df5fd6733e5cec371b24857ed09ca5b05746e/angular/lib/src/core/linker/app_view.dart#L609-L618

In at least some cases, you are already in the zone...

...so `handler()` will not trigger the `ExceptionHandler`. This seems like a serious bug.

[2017-11-30 01:12] matanlurey opened #722 "Intent to Deprecate: `@{Content|View}Children(descendants: ...)`"
Back way back when (before _I_ worked on the framework), this was supported for both view (template) and content (transclusion) children. Since the move to AOT/compiled mode, support was removed from `descendants: true` for `@ViewChildren`.

To make things even more complicated, `@ContentChild` defaulted to `true`:
https://github.com/dart-lang/angular/blob/e81df5fd6733e5cec371b24857ed09ca5b05746e/

[2017-11-30 17:21] indiealexh opened #723 "Compile issue: Unable to find module for angular"
Trying to compile my work on Dart 2.0.0-dev8.0
[code]
My pub spec:
[code]

[2017-11-30 20:38] matanlurey opened #725 "Should angular_test prevent errors from printing to console.error?"
Currently, the default `ExceptionHandler` (`BrowserExceptionHandler`) is always installed unless overridden, and the default behavior is to forward exceptions to `console.error`. This is great for debugging, but less useful in a test environment since uncaught exceptions cause test failures anyway (at least in `angular_test`, they do).

One of the patterns that hurts from this choice is the follow

[2017-11-30 20:50] alorenzen commented on #725
Haven't thought about this very long, but here is my initial opinion:

If there are exceptions thrown during a test, that should be failing the test (with the obvious exception that you are asserting in the test that a specific exception was thrown). If these errors already fail the test, then we don't need to *also* print them to the console.

[2017-11-30 21:01] matanlurey commented on #723
@jakemac53 anything obvious here?

@indiealexh Have you tried deleting your `.pub` folder and trying again?

[2017-11-30 21:10] indiealexh commented on #723
Yep, Tried deleting .pub .packages and the pubspec.lock and pub cache repair.
Same end result.

[2017-11-30 21:15] indiealexh commented on #723
I can provide a repo if needed to demonstrate

[2017-11-30 21:22] matanlurey commented on #723
If you're able to, that would be great.

[2017-11-30 21:27] indiealexh commented on #723
This repo has the issue for me:
https://github.com/indiealexh/angular-dart-issue-723

[2017-11-30 21:30] matanlurey commented on #723
It... just worked for me.

Could you share your `.packages` file?

You can do so privately if you wish to matanl@google.com.

[2017-11-30 21:33] indiealexh commented on #723
Happy to do so here:

[code]

[2017-11-30 21:35] matanlurey commented on #723
Thanks.

The only difference I can see is that you are on windows, and I'm testing on unix.

Let me see if we can get some help.

[2017-11-30 21:36] matanlurey commented on #723
/cc @natebosch

[2017-11-30 21:36] indiealexh commented on #723
@matanlurey I'll try quick on ubuntu

[2017-11-30 21:57] jakemac53 commented on #723
This is a very weird path... `angular|lib/src/bootstrap/..%5Cplatform%5Cbrowser%5Cexceptions.dart`, it looks like `%5C` is a backslash so this is likely some sort of windows specific issue.

[2017-11-30 22:11] matanlurey opened #726 "Support {Element|HtmlElement} in @Query-s."
Blocking https://github.com/dart-lang/angular/issues/442.

[2017-11-30 23:11] alorenzen opened #728 "Travis crashing while loading Chrome"
For our latest github sync (https://github.com/dart-lang/angular/pull/724), travis is failing while trying to load chrome.

This looks like an issue with package:test, or the way that package:test is using chrome.

[2017-11-30 23:12] alorenzen commented on #728
Travis log: https://travis-ci.org/dart-lang/angular/jobs/309650767

[2017-11-30 23:12] natebosch commented on #723
This looks like something is trying to do some type of relative->absolute AssetId translation and is ending up with mixed slashes.

In theory `AssetId` should only have forward slashes so we must have a bug in either the Angular compiler or package:build

[2017-11-30 23:13] alorenzen commented on #728
Related to https://github.com/dart-lang/test/issues/726

[2017-11-30 23:14] matanlurey commented on #728
Specifically @grouma mentions this might _not_ be the fault of `package:test`, but we need better logging to be sure.

[2017-11-30 23:27] matanlurey commented on #594
I've decided to remove the "PRIORITY" flag, not that it isn't very important to us, but we aren't going to be able to deliver a fix immediately - and "PRIORITY" is limited to stuff we are immediately focusing on. Like @kevmoo mentioned though we are working on a slightly longer-term permanent fix!

[2017-11-30 23:55] matanlurey commented on #723
@natebosch Side note - does it make sense potentially to enforce in `AssetId`?

[2017-11-30 23:57] natebosch commented on #723
Yeah I think it could make sense to enforce no backslashes from AssetId

[2017-12-01 00:14] matanlurey commented on #723
I'm OK with handling this as a hack until we get better windows coverage.

[2017-12-01 00:15] matanlurey opened #731 "Add CI test coverage on AppVeyor (Windows)"

[2017-12-01 00:35] indiealexh commented on #723
Ran the build processing via docker, works fine, so at least I have a method to test my code on my windows pc

[2017-12-01 00:36] matanlurey commented on #723
Great. I can patch the compiler, but it won't be fixed until the next release.

[2017-12-01 01:06] leonsenft opened #732 "Router shouldn't rebuild parent route when only leaf route changes"
Consider the following route hierarchy

[code]

If we're at `'/parent/child-a'`, and we navigate to `'/parent/child-b'`, only the leaf component `ChildAComponent` should be destroyed and replaced with `ChildBComponent`. However, currently the router will destroy and rebuild `ParentComponent` as well if it doesn't extend `CanReuse`.

Rather than requiring the component to opt-in to this behavior, i

[2017-12-01 01:43] leonsenft opened #733 "Router should check for reuse during resolution, not after"
Upon navigation, the router currently goes through three "phases".

1. Resolution. Beginning at the root `<router-outlet>`, the router finds a prefix-matching route, creates the component in search of a nested `<router-outlet>` and recurses on it. As it creates these partially matching routes, it caches them for reuse upon activation. If the partially matching route is already active, it instead r

[2017-12-01 02:05] leonsenft opened #734 "Router doesn't support reloading a route"
Routes are bound to router outlets as follows

[code]
Currently, if you change `routes`, and navigate to a route with a _different_ URL than your current route, everything works as expected. This breaks down if you overwrite the definition of your current route however.

Consider you had assigned

[code]
and navigated to `/dashboard`. You now change the assignment and attempt to reload the current

[2017-12-01 04:38] matanlurey commented on #369
@leonsenft is this covered by the new router?

[2017-12-01 05:17] matanlurey commented on #726
It turns out this is actually a duplicate of https://github.com/dart-lang/angular/issues/537.

[2017-12-01 05:17] #726 closed

[2017-12-01 05:28] matanlurey commented on #223
Good news: This looks auto-fixed by more recent infrastructure.

I'll have a PR with a test merged upstream soon.

[2017-12-01 07:20] pratikpparikh opened #735 "TemplateGenerator url encodes package path."
Dear Contributors, I am seeing the following in my deps/debug/angular/lib/src/module.template.dart.  Seems to be a bug in the template generator.  Following the error i also included my pubspec as well just for reference.  I am using SDK 2.0.0-dev.8.0 on windows 10, webstorm2017.2.5 in case that information is needed.

// *** EXPERIMENTAL ** Injector Generator [START]
import 'package:angular/src/d

[2017-12-01 14:57] matanlurey commented on #735
Duplicate of https://github.com/dart-lang/angular/issues/723.

[2017-12-01 14:57] #735 closed

[2017-12-01 18:04] matanlurey opened #736 "Cleanup README.md's for various sub-packages"

[2017-12-01 18:06] jakemac53 commented on #728
https://github.com/travis-ci/travis-ci/issues/8836 looks like it was the underlying issue, which is now fixed

[2017-12-01 18:06] #728 closed

[2017-12-01 18:08] matanlurey commented on #705
I'm going to try a variant of this again and see what error(s) I get.

[2017-12-01 18:30] leonsenft commented on #369
Yes it is! @rinukkusu the upcoming router release doesn't have this issue. You can try the alpha release now if you'd like: https://pub.dartlang.org/packages/angular_router/versions/2.0.0-alpha%2B1

[2017-12-01 18:30] #369 closed

[2017-12-01 18:59] leonsenft opened #737 "Only fully matching router links are considered active"
Consider an application with a nested set of router links. The first is a set of top-level navigation links that persist across all views, below which may appear another set of contextual links. For example, the following page corresponds to the route `/products/apparel`.

The `RouterLinkActive` directive is used to toggle a class name on an element when it's route is considered active. Unfortunat

[2017-12-01 21:57] #469 closed

[2017-12-01 21:57] #223 closed

[2017-12-01 21:57] #721 closed

[2017-12-01 21:57] #722 closed

[2017-12-01 21:57] #723 closed

[2017-12-02 01:32] leonsenft commented on #408
@matanlurey Is this issue still relevant? Visibility control has already been added for directives. At the time I left this open because it wasn't supported for providers, but do you still see a need for that?

[2017-12-05 00:46] leonsenft opened #739 "Router is missing OnReuse"
The documentation for `OnDeactivate` references `OnReuse`, but it no longer exists.

https://github.com/dart-lang/angular/blob/586ea6cadf55e311736f8c8c2492459e979dce35/angular_router/lib/src/lifecycle.dart#L158-L162

This was likely an oversight during migration. I don't see why it can't be supported.

[2017-12-06 03:00] matanlurey opened #740 "Compiler URL resolution of types is sometimes invalid"
Blocking issue: https://github.com/dart-lang/sdk/issues/31556.

[2017-12-06 20:29] leonsenft commented on #540
Obsolete; this was the old router which is no longer supported.

[2017-12-06 20:29] #540 closed

[2017-12-06 21:42] matanlurey commented on #225
Realistically this isn't planned in AngularDart right now.

There are some potential options, for example you could run your application in NodeJS using [`jsdom`](https://www.npmjs.com/package/jsdom), but we don't expect to provide this functionality inside of AngularDart.

[2017-12-06 21:42] #225 closed

[2017-12-07 00:57] leonsenft opened #741 "Router invokes 'canReuse' regardless of whether component matches the next route"
When activating a route, the `RouterOutlet` asks the currently active component if it can be reused if it implements `CanReuse`. This should only be checked if the next route activates the same component.

[2017-12-07 04:11] matanlurey opened #742 "Use enableLowResourceMode with a ENV variable"
There is no reason to slow down local testing, for example.

[2017-12-07 04:12] matanlurey commented on #742
It would also be nice to pull out the shared code into some sort of `_build` package.

[2017-12-08 23:19] leonsenft commented on #656
So it turns out the inconsistencies between `APP_BASE_HREF` and `<base href>` are very much intentional, since these two serve entirely different purposes.

`<base href>` serves its normal purpose which you can read about [here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base).

`APP_BASE_HREF` on the other hand can be used to prefix different apps' routes within the same page with

[2017-12-08 23:19] #656 closed

[2017-12-09 01:17] #631 closed

[2017-12-09 13:39] chalin commented on #656
Ah, that's fine but **the `routerLink` directive doesn't seem to be following this rule**.

Essentially none of the example apps set `APP_BASE_HREF`, and as I mentioned in the opening comment:

`/#foo`.

[2017-12-10 19:55] gchumillas opened #746 "`pub get` hangs after adding the `dartson` library on Angular 4.0.0"
I created a basic web-angular application and installed dependencies:
[code]
Until now all works perfectly. The dependencies were successful downloaded and installed. But then, I included the [dartson](https://pub.dartlang.org/packages/dartson) package and `pub get` thrown the following error:
[code]
The previous message is repeated again and again and `pub get` never ends. Attached is the example

[2017-12-11 10:05] zoechi commented on #746
Looks like package resolution goes exponential because it can't find a matching set of dependency versions. `dartson` seems to have a dependency that is not compatible with other dependencies in your project.
The Dart team is working on better feedback in these situations.
You can use https://pub.dartlang.org/packages/mediator to find the conflict

[2017-12-11 21:15] chalin commented on #656
@leonsenft - should I open another issue to track the routerLink inconsistency, or will you reopen this one?

[2017-12-11 21:35] leonsenft commented on #656
@chalin Hi I was planning to look into this again and possibly reopen, but feel free to create a new issue focused on `RouterLinkDirective`.

[2017-12-12 00:21] leonsenft opened #748 "Inconsistency with visibleHref and location after navigation"
To reproduce

- Use `HashLocationStrategy`
- Don't provide an `APP_BASE_HREF`

The  `visibleHref` binding of `RouterLinkDirective` always has a leading `/`, but the location in the address bar after clicking on the link does not.

For example, if the href is `#/foo/bar`, the location in the browser's address bar will have the fragment `#foo/bar` after navigation.

[2017-12-12 00:21] leonsenft commented on #656
@chalin I looked into this and figured out a repro case: https://github.com/dart-lang/angular/issues/748

[2017-12-12 11:10] chalin commented on #656
Thanks!

[2017-12-18 09:59] Cododoc opened #751 "removeEventListener not working"
Hello.
When I add document event listener in my component, then it will not remove.

For example. I have a method open, that call **addEventListener:**
[code]

Another method, call **removeEventListener:**
[code]

**closeOnEsc**
[code]

I try to call method call on destroy, on button click and on key press. Listener not removed.

[2017-12-18 16:18] jonahwilliams commented on #751
Try using an anonymous function stored in a class member field instead.  This ensures that the function is always identical and can be removed correctly.  (I believe the reason you are running into this problem is that closeOnEsc is actually a tear off, and so the object passed to remove event listener is not the same one used to register).

[code]

Alternatively, you could use the Stream based ev

[2017-12-18 18:58] leonsenft opened #752 "Reused components lose scroll position"
If a routed component has an overflow element, when the route is reused, the scroll position in that element is lost.

If you have a component with the following template and styles

[code]
[code]

located at route

[code]

with

[code]

Navigate to `#/detail/1`, then to `#/detail/2`. Scroll the div and hit the back button and notice the scroll position resets.

Supposedly the old router retained

[2017-12-18 19:00] leonsenft commented on #751
Thanks @jonahwilliams.

[2017-12-18 19:00] #751 closed

[2017-12-19 06:52] Cododoc commented on #751
Thank you for your help @jonahwilliams

[2017-12-19 21:06] matanlurey opened #755 "ReflectiveInjector can return `orElse` Object instead of throwing"
If a dependency of a class provided using `useClass` isn't found, the injector will attempt to provide the sentinel `orElse = throwIfNotFound` object to satisfy the dependency rather than throwing.

To reproduce

[code]

At runtime the following error is thrown

[code]

This is because `valueToken` isn't provided anywhere and the injector passes the `orElse` sentinel object to the constructor of `

[2017-12-19 23:13] matanlurey opened #756 "Rename bootstrap -> startApp (and related work)"
As @nshahan found out migrating `angular_components_example`:

and ensure your 'pubspec.yaml' file is configured to invoke the 'angular'
transformer on your application's entry point.

As of 5.0.0-alpha+2, we no longer rewrite `bootstrap`, so we should fix the error message to say that using `bootstrapStatic` directly is now required. Optionally we could also deprecate `bootstrap` _or_ we could ch

[2017-12-20 01:41] leonsenft commented on #756
Since `bootstrap` is no longer supported, how about we reclaim it and use it for what is currently `bootstrapFactory`?

[2017-12-20 02:05] matanlurey opened #757 "Remove the entry_points option from flags"
This is a no-op as of `angular 5.0.0-alpha+2`.

[2017-12-20 15:19] ligustah commented on #723
I'm still running into this on Windows with the updated angular compiler (see versions below).
[code]

I get this output when trying to build (or serve) my app:
[code]

Not sure if this is related, though. I just started getting into dart and angular again today after a couple of months. Might also just be my bad after I kind of brute forced the upgrade to angular 5.x for my tiny app.
I also tried

[2017-12-20 16:31] indiealexh commented on #723
Can I see your pub spec?

[2017-12-20 16:34] ligustah commented on #723
Here you go. The git dependency for the material components is so it would work with 5 alpha+2 (because +1 doesn't have the compiler fix to begin with).

[code]

[2017-12-20 16:45] indiealexh commented on #723
Are you available on something like discord?
Also make sure.your SDK is correct range. (For 2.0.0)

[2017-12-20 16:48] ligustah commented on #723
Yes for discord. Haven't used it much, though. My name on there is `ligustah#9621`

[2017-12-20 16:51] indiealexh commented on #723
Please join https://discord.gg/W96m43b and ask for @indiealexh

[2017-12-20 17:32] nshahan commented on #756
Would you be able to recognize when users haven't updated their code and give them a helpful message instructing them to do so?

[2017-12-20 18:21] matanlurey opened #758 "Should we ship a CLI out-of-the-box?"
Some stakeholders:
* Devs: @leonsenft @alorenzen
* Build system for Dart: @jakemac53 @natebosch
* PM: @kevmoo
* Ecosystem and Docs: @chalin @nshahan

This would fix or obsolete @filiph's https://github.com/dart-lang/angular/issues/380.

## Background

In upcoming releases, we will potentially end support for `pub serve/build` for a new faster and incremental development cycle using `package:build_

[2017-12-20 18:39] alorenzen commented on #758
I definitely think we should have *a* CLI, but am a little unsure if it should be provided by Angular or by the Dart4Web effort.

[2017-12-20 18:40] nshahan commented on #758
+ @devoncarew

We have started discussing work for a CLI for next quarter.

[2017-12-20 18:42] natebosch commented on #758
one downside of shipping a CLI that passes through to `build_runner` is that it becomes a `dependency` rather than a `dev_dependency` which makes rolling breaking changes harder. As it stands `build` is the main point of version coupling which is (hopefully) more stable than `build_runner` is.

The benefit is that users already have the dep on angular so `pub run angular` just works, whereas if we

[2017-12-20 18:43] jakemac53 commented on #758
Would `pub run build_runner serve/build/watch/test` resolve these?

This would be my primary concern - but as long as it is just a wrapper I don't think it would be an issue. Any additional functionality deemed generally useful could be upstreamed and then wrapped.

I don't think this would be much of an issue, we could watch the angular repo for issues or the angular team could forward them to us

[2017-12-20 18:53] #755 closed

[2017-12-20 18:58] matanlurey commented on #758
@alorenzen:

This question isn't really mutually exclusive, it's more of should _Angular_ provide one.

-----

@nshahan:

Anything you can share (privately or publicly)? I want to make sure this meets our needs.

-----

@natebosch:

Well, it depends. We could for example have `angular_cli` shrinkwrap a version of `build_runner` (via a snapshot), or require users to also have a `dev_dependency` on

[2017-12-20 19:00] natebosch commented on #758
Yeah we hope to have `build` at 1.0 soon. `build_runner` will not likely go `1.0` for a while since we expect to need breaking changes based on feedback.

[2017-12-20 19:08] eRaz0rHead opened #760 "DatePipe outputs in UTC when handed a [num] (millisecondsSinceEpoch)"
https://github.com/dart-lang/angular/blob/797e015f5e1f62d48b52330515fbbd33760837ed/angular/lib/src/common/pipes/date_pipe.dart#L87

The docs for DatePipe suggest that the output date is formatted in the local time zone.

In the case that the input is a num (millisecondsSinceEpoch) what actually happens is that the output date is in UTC, not local timezone.

Consider the following :
  var dt = new

[2017-12-20 19:14] matanlurey commented on #756
@leonsenft:

Seems confusing to do in one release, but open for discussion.

The issue also is `bootstrapStatic` also sounds like it is, well, static, even though it isn't.

----

@nshahan:

Depends what you mean. We _could_ scan `entry_points` (https://github.com/dart-lang/angular/issues/757), and check to see that they are using `bootstrapStatic` directly, correctly. An easier option would be ju

[2017-12-20 19:19] jakemac53 commented on #758
It does also give you the option of changing build systems etc if desired/necessary, without affecting your users as much.

At the same time it makes angular different than the rest of the ecosystem, but as long as it still works with the standard tools as well then it doesn't really matter. Essentially, it could just be an opt-in layer on top of the default stuff that provides some additional com

[2017-12-20 19:19] matanlurey opened #761 "Add CI Windows testing (with AppVeyor)"
Similar to work done for `dart-lang/build`:

https://github.com/dart-lang/build/blob/master/appveyor.yml

[2017-12-20 19:22] jakemac53 commented on #758
Another option here could be making the unified cli tool have a plugin architecture so you could just install the angular plugin. That could get complicated, but I don't think it has to be if you keep the functionality limited (for instance only allow new commands, make new commands just delegate to other binaries, etc).

[2017-12-20 19:26] matanlurey commented on #752
I have a hard time believing the previous router reset scroll position...

[2017-12-20 19:26] matanlurey commented on #746
What @zoechi said. Sorry about that.

[2017-12-20 19:26] #746 closed

[2017-12-20 19:27] #761 closed

[2017-12-20 19:40] dpidcock commented on #760
This isn't an issue with the docs.

Should we not expect

{{myDate | date}}  and
((myDate.millisecondsSinceEpoch | date}}

to display the same time?

[2017-12-20 20:03] matanlurey commented on #760
Your the user here, I quite literally don't know what `DatePipe` does.

(If you are internal, feel free to contact dart-angular@ internally)

[2017-12-20 20:12] matanlurey commented on #758
Superseded by https://github.com/dart-lang/webdev/issues/1 after discussion.

[2017-12-20 20:12] #758 closed

[2017-12-20 20:12] matanlurey commented on #380
Superseded by https://github.com/dart-lang/webdev/issues/1 after discussion.

[2017-12-20 20:12] #380 closed

[2017-12-20 20:32] leonsenft commented on #756
Even if we removed `bootstrap` in one version, then brought it back for fast boot in the next, you still might have customers skipping the version in which it was removed, and experience the confusing API change during an upgrade.

Is getting a type error on the parameters to an existing function, or a function being removed a more disruptive change? At least with the parameter error, they can cli

[2017-12-20 20:35] leonsenft commented on #752
@matanlurey This was reported internally with the claim that this behavior changed between router versions.

[2017-12-21 07:17] devoncarew commented on #758
@matanlurey, re:

I'll send you the repo - there's a POC pretty far along. It uses pub build and pub serve, but that's a placeholder for now. The code that's there may or may not be what migrates to dart-lang/webdev, but the general intent is what we want (a unified web development experience, building in the existing dart cli tools, and using package:build and friends).

[2017-12-21 23:59] leonsenft opened #763 "Testing history manipulation"
- [ ] Add new `Location` implementation or augment `SpyLocation` to handle history manipulation
- [ ] Test replacing the current history entry on navigation

[2017-12-22 20:11] #694 closed

[2017-12-22 20:11] #760 closed

[2017-12-26 18:39] Crazywater commented on #538
I found this thread when I got

`Could not find asset angular2|lib/.moduleConfig.`

when upgrading an older project.

`rm -r .pub` solved it.

[2017-12-26 18:45] Crazywater commented on #538
I found this thread when upgrading an older project and `materialDirectives` somehow became unknown.

`rm -r .pub` solved it.

[2017-12-28 10:09] Cododoc commented on #723
Does it fixed or not? I have the same issue on windows.

pubspec.yaml
[code]

main.dart
[code]

[2017-12-28 13:58] ligustah commented on #723
I just tried and it still doesn't work on Windows for me.
[code]

[2017-12-28 14:16] indiealexh commented on #723
@ligustah open a new ticket and reference this one and submit a verbose log.

[2017-12-29 08:01] Cododoc opened #766 "Compile issue: Unable to find module for angular"
There is a problem when try build or serve angular 5.0.0-alpha+2 project on Windows.
[code]

pubspec.yaml
[code]

main.dart
[code]

Same problem https://github.com/dart-lang/angular/issues/723

[2017-12-30 23:11] floitschG opened #767 "ngModel doesn't work with checkboxes in an ngFor"
The following component doesn't bind to the individual booleans as expected.

[code]
It is correctly initialized in the beginning, but clicks on the checkboxes behave weirdly: they are not independent, and don't always update the value.

[2018-01-01 20:24] zoechi commented on #767
I think this is because `*ngFor` tracks the items by value.
You can either use a custom `trackby` function to make it use the index instead of the value, or wrap the booleans in objects so that they don't change identity when the value changes.
See also https://stackoverflow.com/questions/40863074/ngfor-behaviour-on-primitive-data-type/40863118#40863118

[2018-01-02 18:25] leonsenft commented on #741
WAI. This is intentionally done in order to see if the component should be destroyed, or cached.

[2018-01-02 18:25] #741 closed

[2018-01-03 18:26] kwalrath opened #769 "Bad formatting in DatePipe class"
https://www.dartdocs.org/documentation/angular/5.0.0-alpha/angular/DatePipe-class.html has a badly formatted table in the Usage section. (I suspect this isn't the only place with this problem, so it might be good to search for similar tables.)

[2018-01-03 21:07] matanlurey opened #770 "Add "<X>Provider.forToken" factory constructors..."
... to help with type inference of `OpaqueToken<T>`.

[2018-01-03 21:12] matanlurey opened #771 "Add "MultiToken<T>", an implicitly "multi: true" OpaqueToken."
... this will allow deprecating the `multi: true` optional parameter across the codebase.

[2018-01-03 22:18] matanlurey opened #772 "Support multi-providers in @Injector.generate"
... right now it just won't work.

* [x] Support `MultiToken` and `multi: true` in `@Injector.generate`
* [x] Support reified types for `{Multi|Opaque}Token<T>` (not `List<dynamic>`)

[2018-01-04 00:48] leonsenft commented on #769
@kwalrath It seems like the formatting is fine for GFM:

| Component | Symbol | Short Form   | Long Form         | Numeric   | 2-digit   |
|-----------|:------:|--------------|-------------------|-----------|-----------|
| era       |   G    | G (AD)       | GGGG (Anno Domini)| -         | -         |
| year      |   y    | -            | -                 | y (2015)  | yy (15)   |
| month     |

[2018-01-04 02:04] kwalrath commented on #769
I don't know. @kevmoo or @jcollins-g, do you know [how to find] the dartdoc version info for dartdocs.org?

I thought that the generation date and dartdoc version info might be in the page source, but I didn't see it there.

[2018-01-04 02:12] kwalrath commented on #769
Ah, I see that dartdoc was fixed only a month ago (December 4), and angular 5.0.0-alpha was released Oct 10. So this issue should be fixed once the doc is regenerated with the new dartdoc. (In fact, the dartdoc fix was for this very page, as reported in dart-lang/dartdoc#1453.)

Angular 5.0.0-alpha+2 was released December 19, but the doc hasn't successfully built ([failed build log](https://www.da

[2018-01-04 04:34] indiealexh commented on #766
Possibly related to #723

[2018-01-05 21:27] #770 closed

[2018-01-05 21:27] #771 closed

[2018-01-06 00:15] matanlurey commented on #420
Closing as fixed. We need documentation, but that's another matter.

[2018-01-06 00:15] #420 closed

[2018-01-06 00:16] matanlurey commented on #408
No, let's close this. Fixed.

[2018-01-06 00:16] #408 closed

[2018-01-08 17:49] leonsenft commented on #734
Fixed as of 0f6db9823667f13bd772425caa89321d5ff268d5.

[2018-01-08 17:49] #734 closed

[2018-01-09 00:07] kevmoo opened #777 "Update angular and angular_ast to support quiver 0.27.0"
Won't see anything until the code_builder 3.0.0 is released, too - https://github.com/dart-lang/code_builder/issues/180

[2018-01-13 00:34] #739 closed

[2018-01-15 13:51] nekrondev commented on #766
@ligustah: I patched injector.dart at "C:\Users\HBE\AppData\Roaming\Pub\Cache\hosted\pub.dartlang.org\angular_compiler-0.4.0-alpha+2\lib\src\analyzer\di\injector.dart", but compilation still fails in my case (see https://github.com/dart-lang/angular_components_example/issues/52).

[2018-01-15 14:03] ligustah commented on #766
You might need to remove your .pub folder for it to actually recompile everything

[2018-01-16 04:46] Stargator opened #781 "Trouble running tests on Chrome"
I've recently updated to 0.12.30 of test, so I could migrate from using Dartium to running the tests in headless Chrome.

But the tests fail to run in with Chrome as the platform versus passing when dartium is the platform set.

I'm on a MacOS 10.12.6. And I am looking for feedback on whether my tests are not compatible with running in Chrome or if there's some other larger issue as it relates to

[2018-01-16 13:44] nekrondev commented on #766
@ligustah Thanks for the pointer, deleting the .pub cache folder from the project root solved the issue for me and everything compiles now just fine. So your patch is working 👍

[2018-01-16 19:16] chalin commented on #781
I've been having issues too with component tests, in the context of 5.0.0-alpha+3 (which I assume you are using).

Ensure that you are using the **dartdevc** web compiler, as in:

- `pub serve web test --web-compiler=dartdevc`

Here is what seems to be working for me so far: remove any HTML test harness files from under `test`. That is, delete your `test/app_test.html` file and try again.

In doin

[2018-01-16 21:06] matanlurey opened #782 "Change ReflectableEmitter to use code_builder"
There is a number of reasons we want and need to do this:

1. Less hand-written code to maintain.
2. More alignment with the rest of AngularDart and other code generation packages.
3. Handles tough problems like import resolution.

For example, one current bug in v5 alpha is that this will fail at compile-time:

[code]

... because our generated code doesn't know `Foo` has an import prefix.

If we

[2018-01-16 22:54] chalin opened #783 "All page object fields are null"
The component tests of our [AngularDart example apps](https://github.com/dart-lang/site-webdev/tree/master/examples/ng/doc) are failing because **[pageloader][] page object fields are all null** (they aren't being bound).

The same tests **were running fine under Dart 2.0-dev.16 and Angular 5.0.0-alpha+2.** They now fail under Dart 2.0-dev.17 and Angular 5.0.0-alpha+3 (MacOS 10.13.2). This is what

[2018-01-16 23:12] matanlurey commented on #783
@kevmoo nothing has changed on our side, is this a .17 regression?

[2018-01-16 23:12] matanlurey commented on #781
@chalin this is the other issue you just filed, not related to this bug I assume?

[2018-01-16 23:13] matanlurey commented on #781
@Stargator What version of `angular` are you using?

[2018-01-16 23:13] matanlurey commented on #766
Thank you @nekrondev - I'll get this patched.

[2018-01-16 23:23] chalin commented on #781
@matanlurey - right, I don't believe that this issue is related to the other issue I just filed.

[2018-01-16 23:53] matanlurey commented on #766
Good news: This looks fixed in `+4`, which is yet to be published. We'll do this week.

[2018-01-17 00:20] kevmoo commented on #783
If the only delta is going from .16 to .17, then I'd guess yes.

[2018-01-17 00:57] matanlurey opened #784 "Placeholder: Compiler crash due to "fromDartType""
Needs solid repro, but quick explanation:

[code]

The `typeNewInstance` variable is required because the `template_optimize.dart` seems to emit invalid code with `genericTypes: ` set. This should be refactored and fixed not to need an additional named argument.

[2018-01-17 01:17] matanlurey commented on #784
Nope, everything is fine. Closing.

[2018-01-17 01:17] #784 closed

[2018-01-17 01:21] matanlurey opened #785 "Limit what symbols are exported in "{file}.template.dart""
Today, `{file}.template.dart` has the following:

[code]

... this is needed for deferred loading, for example, but also confuses the IDE when everything from the file is re-exported (there are now two places to import all user-code). We should limit it to exactly what is needed for deferred loading instead.

This is a **BREAKING CHANGE**.

[2018-01-17 01:31] matanlurey commented on #772
Fixed upstream.

[2018-01-17 01:31] #772 closed

[2018-01-17 01:31] #766 closed

[2018-01-17 01:32] matanlurey commented on #756
Anybody have more opinions here?

@leonsenft @alorenzen @hterkelsen @kevmoo

[2018-01-17 01:33] matanlurey commented on #769
@kwalrath Is this issue still relevant?

[2018-01-17 01:51] matanlurey commented on #579
Sorry this took so long. Have a fix now :)

[2018-01-17 02:39] chalin commented on #783
No, the working combo was dev.16 & Angular 5.0.0-alpha+2 vs. dev.17 & alpha+3.

[2018-01-17 02:41] matanlurey commented on #783
Internally we are still on dev.13 but with ~alpha+3, so unfortunately I don't know.

That being said our travis tests are green, I think, and we have at least one PO test.

[2018-01-17 02:44] chalin commented on #783
I'll test that combo tomorrow.

[2018-01-17 03:57] matanlurey commented on #742
Looks like this is obsolete with recent changes.

[2018-01-17 03:57] #742 closed

[2018-01-17 04:00] matanlurey commented on #521
It would be good to tackle this for 5x as I imagine its not too much work.

[2018-01-17 04:00] matanlurey commented on #470
There are a lot of other issues tracking related issues, so I'm closing this one.

[2018-01-17 04:00] #470 closed

[2018-01-17 04:01] matanlurey commented on #625
The default build system is about to change, so I'm marking this obsolete.

[2018-01-17 04:01] #625 closed

[2018-01-17 04:02] matanlurey commented on #720
Will re-open as I hit it.

[2018-01-17 04:02] #720 closed

[2018-01-17 04:05] matanlurey commented on #648
Not planned.

[2018-01-17 04:05] #648 closed

[2018-01-17 04:07] matanlurey commented on #278
I think we made some good progress towards here.

I'm not sure its worth refactoring lots of the legacy code/parsing, though.

[2018-01-17 04:07] #278 closed

[2018-01-17 16:23] chalin commented on #783
Ok, this took a while to track down.

**TL;DR** tests fail under **dartdevc**.

Here is what I tried, in order:

### 1. Travis: Last successful test run combo ✅

[This Travis log](https://travis-ci.org/dart-lang/site-webdev/jobs/327968236) is from the last time component **tests ran successfully on Travis**. Setup:

- SDK **2.0.0-dev.16**
- Angular 5.0.0-**alpha+2**
- Web-compiler: **dart2js**
- T

[2018-01-17 16:35] kwalrath commented on #769
I can't verify it's fixed by looking at the generated docs, since dartdocs.org hasn't been able to build angular docs lately. Looking at the [failure messages](https://www.dartdocs.org/failed/index.html), I think it's because angular now requires SDK version 2.0*:

[code]

[2018-01-17 16:38] kwalrath commented on #769
The generated version on our site looks OK: https://webdev-dartlang-org-dev.firebaseapp.com/api/angular/angular/DatePipe-class

[2018-01-17 16:38] #769 closed

[2018-01-17 17:07] chalin commented on #783
Extra notes:

- I believe that the error reported over `void Function(E) eventHandler0<E>(void Function() handler)` is because the **content-shell** doesn't understand the new 1.24 Function syntax.

- While I can successfully run component tests under SDK dev.17 and Angular alpha+3, it only works if I launch `pub serve` separately. Letting angular_test launch `pub serve` results in:
[code]

[2018-01-17 17:47] leonsenft commented on #521
@matanlurey What are your thoughts on this? Should we remove this altogether, or add a way to specify custom elements?

[2018-01-17 21:19] #443 closed

[2018-01-17 21:19] #579 closed

[2018-01-18 15:55] Stargator commented on #781
@matanlurey I forgot to mention, I am using angular 2. This is based on the version of Tour of Heroes that was available before angular 4 came out.

[2018-01-18 19:31] jakemac53 opened #787 "Remove the angular_test runner"
With the migration to build_runner, we provide a sane `test` command by default. The angular_test executable should probably do some combination of the following:

- wrap `build_runner test`
- add a deprecation warning
- delete it entirely

[2018-01-18 21:17] alorenzen opened #789 "angular doesn't work with dart 2.0.0-dev.18.0"
`pub get` and `pub upgrade` don't work at all on 2.0.0-dev.18.0

This is caused by https://github.com/dart-lang/pub/issues/1781.

We'll either need to wait for a new SDK release or update or SDK constraints to get travis green again.

[2018-01-18 21:18] alorenzen commented on #789
Also tracked in https://github.com/dart-lang/sdk/issues/31940

[2018-01-19 21:00] kevmoo commented on #756
No strong preference...

[2018-01-19 22:53] matanlurey commented on #789
Fixed as of 0.19.

[2018-01-19 22:53] #789 closed

[2018-01-19 22:53] matanlurey commented on #787
Thoughts? @chalin @alorenzen

[2018-01-19 22:56] matanlurey commented on #521
Probably specify custom elements?

Two ideas:

1. Support a `compiler_ignore_tags` (or better name):

[code]

2. Support a `compiler_ignore_tags: any` or `compile_ignore_tags: custom-elements`

Thoughts? @alorenzen

[2018-01-19 22:56] matanlurey commented on #781
Unfortunately we no longer offer support for that version of AngularDart.

It's very likely it is too old to work without Dartium, and we don't be able to offer patches.

[2018-01-19 22:56] #781 closed

[2018-01-19 23:16] chalin commented on #787
I'm not a fan of the wrapping option. I'd vote to just drop it.

[2018-01-19 23:25] alorenzen commented on #787
I really am not familiar with the angular_test executable. Does it add any value that is not covered by build_runner?
If not, then get ride of it.

[2018-01-19 23:33] Stargator commented on #781
@matanlurey The issue remains in the latest version of ToH https://github.com/angular-examples/toh-6

Just run:
`pub run angular_test --test-arg=--platform=dartium --test-arg=--tags=aot`

All the tests pass.

Then run:
`pub run angular_test --test-arg=--platform=chrome --test-arg=--tags=aot`

And you run into some issues:
The pub serve output is at /var/folders/57/6wq090815bb1x_vldxxk5yl40000gn/T/

[2018-01-19 23:34] alorenzen commented on #521
This seems like a use case that `ngNonBindable` was intended to solve. But no one (at least internally) was using that feature at all. So we're dropping it with the new parser...

I agree that registering specific tags to ignore is better than ignoring any tags with `'-'`.

[2018-01-19 23:59] matanlurey commented on #521
I could see ignoring tags being good only if you know there are specific pages where you'll use so many dynamic/custom tags that it isn't possible to list them all, but only disable checks for those few components.

[2018-01-20 01:22] Stargator commented on #781
@matanlurey Okay, do you have a ticket already to address it?

[2018-01-20 15:37] chalin opened #791 "Angular build option use_new_template_parser reported as invalid"
The [5.0.0-alpha+4 changelog](https://github.com/dart-lang/angular/blob/master/angular/CHANGELOG.md#500-alpha4) reads:

  In order to use it, you need to set the following flag in your `build.yaml`:

But in doing so I get:

[code]

Note that I am using alpha+4:

[code]

Dart VM version: 2.0.0-dev.19.0 (Fri Jan 19 08:01:12 2018 +0100) on "macos_x64"

cc @kwalrath @kevmoo

[2018-01-21 14:21] zarisi opened #792 "Cant make a input required dynamically"
Hi.
I need to create a component tath have inputs tath can be required depending on a condition but trying it i wasnt able to do it, i tried using `[required]="var"` but it always resolve the input as required.
In HTML5 doc it seems tath having requiered will always make it requireded if you put true or false.

Is there a way to make a input required dynamically?

[2018-01-21 15:54] furrary commented on #792
Which version of Angular you're using? To my knowledge, as of 4.0.0, it should work as you expect.
[code]
I tried this and it worked.

[2018-01-21 16:11] furrary commented on #792
If you use `angular_forms`, this may be related to #660.

[2018-01-21 16:32] zarisi commented on #792
Using angular 5 alpha+1 with the corresponfing angular forms version, so the only way to make it work is downgrade version?

[2018-01-21 16:57] furrary commented on #792
No, that is not what I was trying to say.

I mean that the `required` attribute DOES change in the DOM.
However, it's a known issue that the form validator provided by `angular_forms` won't change when the `required` attribute dynamically changes.

[code]
In this example, clicking the toggle button removes `required` attribute from the DOM, but won't enable the submit button.

[2018-01-21 17:26] zarisi commented on #792
oh ok, sorry, there isnt a way to manually reload the validator?

[2018-01-23 00:38] #782 closed

[2018-01-23 18:27] matanlurey commented on #792
@alorenzen

[2018-01-23 18:32] matanlurey commented on #787
OK, I'm taking this as a FR to remove the `angular_test` binary in the next release.

[2018-01-23 20:29] chalin opened #794 "Upgrade angular_test to package:test 0.12.30"
Package [test 0.12.30](https://pub.dartlang.org/packages/test#-changelog-tab-) has built-in support for running chrome browser tests headless. Consider upgrading to this version in the [pubspec.yaml file](https://github.com/dart-lang/angular/blob/master/angular_test/pubspec.yaml#L24).

cc @kwalrath

[2018-01-23 20:30] matanlurey commented on #794
We should probably do this for _all_ of our packages, I think (like `_tests`).

/cc @alorenzen @jakemac53

[2018-01-23 23:38] matanlurey opened #796 "Our users need the dartdevc Chrome plugin"
We are `dartdevc`-only in AngularDart v5, and we need this plugin released for them.

@dgrove @kevmoo who should be assigned here?

[2018-01-24 00:18] kevmoo commented on #796
@alan-knight is point. @vsmenon FYI

[2018-01-24 00:34] matanlurey opened #797 "Optimizing for immutability with AngularDart"
There is increasing requests to help optimize for immutable data structures in AngularDart.

(_Somewhat related to documentation in https://github.com/dart-lang/angular/issues/464_.)

There are _some_ optimizations we (should) do already today (and should test for):

* [ ] We (should?) understand that `const` objects are deeply immutable:

[code]

... should be easily compilable to just `'Version

[2018-01-24 00:35] matanlurey commented on #797
/cc @hterkelsen who started some of these optimizations, they might already exist.

[2018-01-24 00:42] matanlurey opened #798 "Reduce the amount of generated views"
This is probably out of range for v5, though I'd love if some of it gets in.

One fundamental code-size issue in AngularDart is the creation of hidden `_View{Component}{N}` classes for every `@Component`-annotated `class`. For example, the following code:

[code]

... will generate ...

[code]

That's fine and dandy (though we could probably use some sort of base view in many cases), but what abou

[2018-01-24 00:44] matanlurey commented on #796
Thanks! This is definitely a requirement for our v5 release.

[2018-01-24 00:45] #422 closed

[2018-01-24 00:46] matanlurey commented on #68
We should try to gather internal data on how often generic components are used.

[2018-01-24 00:47] matanlurey commented on #207
Would love to get @leonsenft to weigh in here.

[2018-01-24 00:54] matanlurey commented on #438
We should validate the latest compiler(s) and see what the output looks like for now!

[2018-01-24 00:54] matanlurey commented on #439
I think we are WAI for now, here.

[2018-01-24 00:54] #439 closed

[2018-01-24 00:55] matanlurey commented on #413
One more thing: folks would love to see an example of deobsfucating stack traces too.

[2018-01-24 00:59] matanlurey commented on #503
I believe @leonsenft tried this with mixed results. Maybe he can expand.

[2018-01-24 00:59] matanlurey commented on #500
@leonsenft Do we intend to act on this?

[2018-01-24 00:59] matanlurey commented on #479
We have a new router now, so closing as not planned.

[2018-01-24 00:59] #479 closed

[2018-01-24 01:00] matanlurey commented on #686
Closing as a duplicate of https://github.com/dart-lang/angular/issues/797 for now.

[2018-01-24 01:00] #686 closed

[2018-01-24 01:02] matanlurey commented on #651
I'd rather we open more specific issues, where relevant, than this one. Not actioanable.

[2018-01-24 01:02] #651 closed

[2018-01-24 01:03] matanlurey commented on #459
Closing, I don't expect we're acting on this for now.

[2018-01-24 01:03] #459 closed

[2018-01-24 01:04] matanlurey commented on #407
This is complete, and staged, but not yet released (it crashes Dart2JS).

We should make sure to have a lower-bounds of the dev-release that supports it.

/cc @hterkelsen when his fix is released.

[2018-01-24 01:06] matanlurey commented on #555
We're still waiting on this (there is no support for this in the current version of Dart2JS).

[2018-01-24 01:07] matanlurey commented on #674
Our v5 release will have a new build system, similar to pub, without this issue.

[2018-01-24 01:07] #674 closed

[2018-01-24 01:07] matanlurey commented on #704
https://github.com/dart-lang/build/issues/641 is long fixed :)

[2018-01-24 01:07] #704 closed

[2018-01-24 01:09] matanlurey commented on #756
I think we should probably just toss the word "bootstrap". Perhaps:

`startAngularApp<T>(ComponentFactory<T>)`?

and renaming `bootstrapStatic` to `startAngularAppLegacy`? It's not quite deprecated.

[2018-01-24 01:09] matanlurey commented on #343
I think we're unlikely to act on this immediately, unfortunately.

It makes code generation much much more complex.

[2018-01-24 01:09] #343 closed

[2018-01-24 01:10] matanlurey commented on #777
This is done as far as I can tell.

[2018-01-24 01:10] #777 closed

[2018-01-24 01:11] #238 closed

[2018-01-24 01:24] yjbanov commented on #413
Update: the sentry client repo has moved to https://github.com/flutter/sentry. Pull requests are welcome 😃

[2018-01-24 18:03] alorenzen commented on #791
This worked just fine for me on a hello world example: https://github.com/alorenzen/angular/commit/5de417a3faa388a8a6577027ea52d840fc6f1416

Just add an un-closed `<div>` tag to the HelloWorld component and see an error in the build.

[2018-01-24 18:06] matanlurey commented on #791
@chalin maybe your config was wrong? It does look like it works.

[2018-01-24 18:21] chalin commented on #791
Tried again (though on a clean setup), and I'm no longer getting the "invalid options" error. It could be that there was another error in the config, though the error message seemed to imply that it was because of an invalid option. Closing.

[2018-01-24 18:21] #791 closed

[2018-01-24 23:17] leonsenft commented on #500
@matanlurey Considering the original design was based on a Shadow DOM specification draft which is now irrelevant, I don't see any reason to conform to it. This doesn't seem to be causing our users any issues either, so I'll close it.

[2018-01-24 23:17] #500 closed

[2018-01-24 23:24] leonsenft commented on #797
`final` (and I'm guessing `const`) primitive fields (`String`, `bool`, `int`, etc.) are already only change detected once. It's not correct to make this optimization for any non-primitives fields, but we could perhaps create an annotation to express that a `final` object shouldn't be change detected more than once?

[2018-01-25 00:10] hterkelsen commented on #797
We already optimize in the case of fields declared final and literals, as well as string interpolations where every interpolated expression is const. However, we do not optimize getters that return const because we don't have access to the getter bodies (maybe this is wrong?). If we could access getter bodies, we could also add `Intl.message` calls to the list of "effectively final" expressions.

[2018-01-25 00:16] hterkelsen commented on #756
We shouldn't have the redundant "Angular" in the name. How about `startApp`? Whatever we do, I think we should have the "good" (the entrypoint we would prefer our users use) be just called `startApp` and the other one called `startAppLegacy` rather than being in a situation where we have `startApp` for the old way, and `startAppStatic` for the new improved way.

[2018-01-25 00:30] natebosch commented on #797
Should we bother? Should we focus instead on writing a lint that tells you to use a final field instead?

[2018-01-25 00:37] kevmoo commented on #756
+1 to what Harry said...

On Wed, Jan 24, 2018 at 4:16 PM, Harry Terkelsen <notifications@github.com>
wrote:

[2018-01-25 01:59] leonsenft commented on #503
As mentioned in https://github.com/dart-lang/angular/issues/441, our benchmarks indicated this wasn't much of a performance improvement, and was actually a regression for simple cases which is why we didn't land it. However, I don't think any of the benchmarks demonstrated the best case improvements.

@ranquild have you found this to have a significant performance in your applications? Perhaps it

[2018-01-25 02:50] leonsenft commented on #207
Overall I'm in favor of this idea, but I have a few concerns.

1. This pushes logic into views which is generally discouraged. Unfortunately there's really no way around this unless we were to expose the stream which would introduce other, arguably bigger issues.
2. This won't work for native DOM events. Currently there's no distinction to the user whether they're registering a stream subscription

[2018-01-25 07:11] TedSander commented on #207
I'm wondering why it wouldn't work for DOM events. Is angular not using the stream coming from dart:html for the original event? Or is there an optimization there?

Also this seems like it could be a more generic syntax of something that is already supported. For example angular already has modifiers for DOM events. (keydown.enter) (keydown.shift.x) I would imagine these are much more performant b

[2018-01-25 09:43] zoechi commented on #797
In Flutter they use [@immutable](https://github.com/dart-lang/sdk/blob/master/pkg/meta/lib/meta.dart#L106) a lot.
Not sure this is relevant.
It might make it easier to check the annotation instead of all fields of the whole class hierarchy.

[2018-01-25 13:43] furrary commented on #792
I looked into [the implementation](https://github.com/dart-lang/angular/blob/24cb132d072c30cafd7608c2897ad9027496444a/angular_forms/lib/src/directives/validators.dart#L55-L78) and I don't think it's possible right now.

A workaround is to write your own validator.

[code]

use it like this
[code]

[2018-01-25 19:37] leonsenft commented on #207
@TedSander No, for native DOM events Angular uses [EventTarget.addEventListener()](https://api.dartlang.org/dev/2.0.0-dev.19.0/dart-html/EventTarget/addEventListener.html). I'm guessing this is both more optimal, and as I recently found out, there aren't stream properties for all events.

The key event modifiers are supported by the [KeyEventsPlugin](https://github.com/dart-lang/angular/blob/maste

[2018-01-26 00:16] TedSander commented on #207
Thanks for the explanation.

For 2. I would imagine a user might want to be able to pass in the amount of time to debounce which is in the stream_transform common util we have. I'd hope we would be very clear about what happens and the contract of trying to change a parameter such as that.

A corollary to this is validators and pipes that have configuration abilities. Today we probably aren't clea

[2018-01-26 00:26] matanlurey commented on #797
@hterkelsen:

As a workaround, we could just require an annotation (i.e. `@trustDeepImmutable` or similar).

@natebosch:

It's not always straight forward, for example overriding a getter of a base class:

[code]

[2018-01-26 00:29] leonsenft commented on #207
Oh I see your concern. That's a great point, since stream subscription happens at build time, there are a few limitations.

1. The stream transformer would have to be non-null at build time.
2. The output binding can't have a new stream transformer applied to it after build time.

[2018-01-26 00:35] TedSander commented on #207
So if that is the case I would want the API to enable that to be as clear as possible. For example perhaps using injection, or const in the annotation but not allowing arbitrary properties. I'm not exactly sure what it would look like, but I'd prefer to make it clear what the limitations are ideally in using a language angular feature that matched those limitations.

[2018-01-26 00:36] hterkelsen commented on #797
I'm in support of adding an annotation for "effectively final" getters (for `Intl.message` calls, for example).

You can override a getter with a final field (or even a normal field). I think it would be a useful lint to detect getters that return literals.

[2018-01-26 00:44] jonahwilliams commented on #797
From what I understand from the React + Flutter world, the benefit of immutability is that you avoid rebuilding your component/widget (and the subsequent diff) tree if your inputs did not change.  This check is fast since you can use `identical` for immutable objects.

But in the Angular world change detection is already using `identical` to check properties.  The only  optimization here would be

[2018-01-26 00:55] hterkelsen commented on #797
The optimization here is that if you have a component with, for example, this template:

[code]

Normally, we will generate code that detects the value of `message` on every change detection loop to see if it has changed. However, if we know that `message` never changes, we can optimize the check out entirely.

[2018-01-26 01:06] leonsenft commented on #207
Matan and I were discussing a pipe-like solution with fewer limitations, but then the concern shifts to performance.

@zacharydenton would you care to weigh in on this issue? Do you see value in having the stream transformer adapt to changes?

[2018-01-26 02:55] zacharydenton commented on #207
It should be fine for the stream transformer definition to be static as long as the instance variables of the component/directive are in scope (enabling dynamic behavior).

[2018-01-26 02:57] matanlurey commented on #207
@zacharydenton Want to give an example here?

[2018-01-26 03:05] zacharydenton commented on #207
[code]

[2018-01-26 03:06] matanlurey commented on #207
Ah great, that makes total sense.

@leonsenft thoughts?

[2018-01-26 03:17] matanlurey commented on #207
Cool. We could even assert in dev mode that this doesn't change identity.

[2018-01-26 03:17] natebosch commented on #797
@matanlurey

You can override a getter with a final field.

[code]

If a getter has a const expression on the RHS I think it could always be a final field. Perhaps there are times we prefer a `get` for other reason?

[2018-01-26 03:26] leonsenft commented on #207
That would work is the transformer is a field, but the original proposal suggested a method which returned one. In the latter case, it would be reasonable for the method to return a new instance on each invocation, so we couldn't really check it that case.

I guess it depends if there's a strong argument in favor of one approach or the other, or if we support both since we can analyze if it's a fu

[2018-01-26 04:01] chalin opened #800 "TemplateGenerator reports "unexpected token" for some ngFor syntax"
The new template parser reports the following unexpected token errors when processing the [template_syntax example app](https://github.com/dart-lang/site-webdev/tree/5-dev/examples/ng/doc/template-syntax):

[code]

I'm not aware that there has been any change in syntax, so I'm assuming that this is an error in the TemplateGenerator.

cc @kwalrath

[2018-01-26 04:02] matanlurey commented on #800
@alorenzen, I've lost track of the spec - is this a bug or?

[2018-01-26 04:04] matanlurey commented on #800
@chalin: I think ... that `,` is no longer supported, only `;`.

We don't really have a formal spec, yet, but I know the last parser was pretty loose.

[2018-01-26 04:04] matanlurey commented on #756
I like `startApp` and `startAppLegacy`.

[2018-01-26 04:06] matanlurey commented on #800
Here's code samples known to me:

https://github.com/dart-lang/angular_components/search?utf8=%E2%9C%93&q=trackBy&type=

[2018-01-26 04:21] matanlurey commented on #688
This is now considered deprecated, pending removal before `5.0.0-beta`.

[2018-01-26 12:57] chalin commented on #800
Its fine if the ngFor syntax has been simplified, but then there should at least be an entry to that effect in the changelog, explaining what has been dropped, or the full remaining supported syntax.

[2018-01-26 18:31] alorenzen commented on #800
@matanlurey is correct that `package:angular_ast` only supports `;` as a deliminator, and will fail if `,` or ` ` is used instead.

We probably could have done better with the changelog. But in the end, this was the behavior of `package:angular_ast`, not code that I was writing, so I didn't mention it in the angular change log.

[2018-01-26 18:48] chalin commented on #800
Np. Can we take this issue as a reminder to update the changelog?

[2018-01-26 19:15] alorenzen commented on #783
Do you still run into this issue when using `pub run build_runner test`, or only with `pub run angular_test`?

[2018-01-26 19:17] alorenzen commented on #767
@floitschG did the suggested fixes work for you?

[2018-01-26 19:18] matanlurey commented on #783
We figured this out elsewhere, externally DDC has stopped supporting (any) `dart:mirrors`.

@vsmenon: This is related to pkg/pageloader. How should we proceed?

[2018-01-26 19:24] alorenzen commented on #756
+1 for `startApp`.

I'm only in support of `startAppLegacy` if we are actively considering it deprecated and pending removal once everyone migrates off of it. If the plan is to keep `startAppLegacy` for >1 year, I think we should consider something more descriptive than legacy.

[2018-01-26 19:32] matanlurey commented on #756
Strictly speaking, the `Legacy` components are the following:
* Almost any practical use of `ReflectiveInjector`.
* Every use of `SlowComponentLoader` and it's "friend" `ComponentResolver`.

I think it's very feasible to get rid of `SlowComponentLoader` and `ComponentResolver` in <1 year, maybe even one more quarter, there are ~100 instances of use remaining internally, and some of these exist ent

[2018-01-26 19:33] chalin commented on #783
FYI, when I run tests from the command line now, it reports "**No tests ran**":

[code]

If I build and then run manually, I get the same error.

[2018-01-26 19:36] alorenzen commented on #756
Are both `ReflectiveInjector` and `SlowComponentLoader` marked as `@Deprecated` (or could be in the near future)? If so, then I'm fine with `startAppLegacy`.

[2018-01-26 19:40] matanlurey commented on #756
`SlowComponentLoader` is ready to be deprecated (and `ComponentResolver` is already):
https://github.com/dart-lang/angular/blob/54cac9c2c0a588cf1b0f5a00fde51be1e00eb81e/angular/lib/src/core/linker/dynamic_component_loader.dart#L12-L14. I'll send a CL out today making this change.

I don't think I can in good faith deprecate `ReflectiveInjector` yet. I'm working with a few folks internally on remai

[2018-01-26 19:55] alorenzen commented on #665
I'm going to go ahead and close this issue.

Code size is something we track very closely, and have improved in every release to date. Please update to 4.x or even 5.0-alpha to see improvements.

Given the comments by @matanlurey @TedSander and @kevmoo, we probably need a "best practices" doc for reducing code size.

[2018-01-26 19:55] #665 closed

[2018-01-26 19:57] alorenzen commented on #660
@TedSander is this fixed?

[2018-01-26 19:59] alorenzen commented on #622
Between the fix in #662 and the duplicate issue in #736, I'm going to close this.

[2018-01-26 19:59] #622 closed

[2018-01-26 20:01] matanlurey opened #801 "Removing uses of "computeNode()" from the compiler."
In a future period of time, running `<Element>.computeNode()` will be prohibited.

Already it is a O(n^2) operation, and has many edge cases (not provided for summaries).

We've cut down our use significantly already:
https://github.com/dart-lang/angular/search?utf8=%E2%9C%93&q=computeNode&type=

Here are cases active today:
* [x] Getting a list of all directives in a `LibraryElement`
  **NOTE**:

[2018-01-26 20:03] alorenzen commented on #594
@matanlurey Now that we use `build_runner` instead of `transformers`, can we go ahead and close this issue?

[2018-01-26 20:04] matanlurey commented on #594
I want to wait until we have our own documentation on using these tools on
the angular site, even if it is only on staging.

On Fri, Jan 26, 2018, 12:03 PM Andrew Lorenzen <notifications@github.com>
wrote:

[2018-01-26 20:13] alorenzen commented on #497
Is this still worth doing?

[2018-01-26 22:03] alorenzen commented on #452
I'm not sure what the behavior was for the old parser. But for the new parser, I believe that I am *always* removing comments. That is, I didn't see a way to even supply the comments on to the rest of the compiler.

[2018-01-26 22:06] alorenzen commented on #413
Good enough to close this issue?

[2018-01-26 22:27] alorenzen opened #802 "Template parser not merging interpolations"
Previously, if there were multiple interpolation statements in a row, the template parser would treat them as one large statement. Now, with the new template parser based on `package:angular_ast`, we treat them as separate interpolation nodes.

We should investigate if there is a real performance improvement one way or the other, and possible replicate the old behavior in the new parser.

Example:

[2018-01-26 22:54] chalin commented on #800
To give some context: these examples don't even show up in our AngularDart docs. They were leftovers in the code from our Angular TS days. Closing.

[2018-01-26 22:54] #800 closed

[2018-01-26 23:24] chalin opened #803 "Are `bindon-foo` and `ref-foo` officially deprecated/abandoned in 5.0?"
I'm getting these warnings from the new template compiler:

---

[WARNING] Instance of 'LibraryBuilder' on template_syntax|lib/app_component.dart: Template parse warnings:
line 451, column 8 of AppComponent: ParseErrorLevel.
**WARNING: "bindon-" for properties/events is no longer supported. Use "[()]" instead!***
\<input bindon-ngModel="currentHero.name">
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
l

[2018-01-26 23:27] alorenzen commented on #803
Yes.
Those were warnings before, and now are completely unsupported.

[2018-01-26 23:30] chalin commented on #803
Thanks, for confirming, I'll update the 5-dev docs.
(Maybe mention should also be made in the changelog.)

[2018-01-26 23:36] alorenzen commented on #803
Ok, I spoke a little too soon. Some of the syntax previously had warnings, like `var-foo`, but `bindon-foo` did not.

We're trying to have a goal of only having **1** way of doing things, so we removed many of these _alternate_ ways of doing things.

[2018-01-26 23:41] chalin commented on #803
Can I have an official list of what is deprecated and/or dropped entirely in v5? I'll need that so that I can to update the 5-dev docs? (And could we keep this issue open until I get that info?) Thanks!

[2018-01-27 00:25] alorenzen commented on #803
Getting a definitive list of everything that was changed is going to be impossible. There were so many weird quirks of the old parser that no one on the team even know existed. That's one of the biggest reasons for the switch - to make the parser more consistent and easier to reason about.

[2018-01-27 00:27] alorenzen commented on #794
Is there something *preventing* us from picking up test 0.12.30? That should just be picked up because of the ^.

[2018-01-27 00:28] alorenzen commented on #794
In fact, I can verify that it *was* picked up by running `pub upgrade` in our last run on travis:
https://travis-ci.org/dart-lang/angular/jobs/333947902

[2018-01-27 00:50] cedx opened #804 "`Component.preserveWhitespace = false` is too aggressive and not context aware"
Same issue as the TypeScript flavor of Angular: https://github.com/angular/angular/issues/21049
(read the feed for the full explanation of the problem).

I've tried to apply `preserveWhitespace: false` to my components, and ALL OF THEM have rendering glitches (i.e. words linked together).

A markup like: `Foo <strong>Bar</strong> Baz` (display: "Foo **Bar** Baz")...
...is processed to: `Foo<strong

[2018-01-27 00:55] matanlurey commented on #804
That's surprising that _all_ of them have glitches. Could you just use `: true` on some?

/cc @alorenzen

[2018-01-27 00:56] matanlurey commented on #794
@chalin?

[2018-01-27 01:04] alorenzen commented on #804
Because of the need for using an internationalization library like `package:intl`, most of our clients aren't actually doing a lot of inline text formatting in their templates. So we haven't found this to be an issue in practice for most teams.

I personally don't like the idea of treating some tags differently than others. Then, we're getting back towards being a full HTML compliant parser, which

[2018-01-27 03:14] chalin commented on #803
I understand. How about we start with clarifying the status of `bindon-foo` and `ref-foo` for Angular 5? The template compiler message reads "no longer supported", but the message is tagged as a WARNING rather than SEVERE, so that might mean deprecated. Regardless, I can't run the resulting program. So, are these two features deprecated (which means they _should_ still work), or just no longer sup

[2018-01-27 03:19] alorenzen commented on #803
No longer supported. Right now they are treated as a normal attribute with
name "bindon-foo".

I'm considering just switching it to an error before 5.0 final, instead of
just the warning.

On Fri, Jan 26, 2018, 7:14 PM Patrice Chalin <notifications@github.com>
wrote:

[2018-01-27 03:29] chalin commented on #803
- `bind-foo`, for (one-way) data bindings seems to still work w/o warnings
- `on-foo`, for event bindings also seems to work.

Is that correct (or at least what is planned for Angular 5)?

[2018-01-27 08:04] jonahwilliams commented on #797
Okay, makes sense to me- I think I misunderstood what sort of Immutability.  I was thinking of cases where @Input objects were 'immutable' (built_value or something), not parts of the component class.

[2018-01-27 13:34] akaufmann opened #805 "router-outlet inside of a conditional isn't found if you call a child route"
If you have a `router-outlet` within an element with  e.g.`*ngIf` and a child route is used (with `useAsDefault`) the `router-outlet` will not be found (no error/warn/info).

[code]

Output:
[code]

If you call the nested route directly (through `routerLink`), you will receive an error message:

[code]

[code]

[2018-01-27 13:51] chalin commented on #794
Yes, test 0.12.30 will be picked up provided angular_test isn't used as part of a project that (willingly or not) has a constraint for test that is below 0.12.30. When that happens, test 0.12.30 will not be used, and headless chrome won't be usable out-of-the-box.

If we wish to guarantee that angular_test can _always_ be used with the test package's built-in support for headless chrome, then the

[2018-01-27 14:05] cedx commented on #804
Unfortunately, the project I'm working on has inline tags in almost every component template. I have control over the Dart code but not the HTML design (there's a lot of `<strong>`, `<em>` and other inline tags).

I had the opposite experience. For example, in my previous job, the translation was done by external translators using the [Smartling](https://www.smartling.com) system, which has a smar

[2018-01-27 17:24] scheglov commented on #801
You get all directives in a `LibraryElement`.
I wrote a small test into the AnalysisDriver test suite:

[code]

  I don't understand the second item, but it might be something internal to Angular. Let me know if this is something with what you need assistance from the Analyzer team.

[2018-01-27 18:51] matanlurey commented on #801
@scheglov:

We still use AnalysisContext, and we don't (#740). If we change `build` to use driver, sure.

@natebosch @jakemac53

It is!

https://github.com/dart-lang/angular/blob/c1331cd80334ced1b260c3746a7b2b40c1d824db/angular_compiler/lib/src/analyzer/di/tokens.dart#L58-L67

Similar here:

https://github.com/dart-lang/angular/blob/c1331cd80334ced1b260c3746a7b2b40c1d824db/angular_compiler/lib/src

[2018-01-28 01:11] 4cm4k1 opened #806 "Update angular_router documentation to use new ValueProvider?"
In the `angular_router` [example](https://github.com/dart-lang/angular/blob/master/angular_router/example/web/main.dart), plain Provider is used, which is soft-deprecated as of [angular 5.0.0-alpha+3](https://github.com/dart-lang/angular/blob/master/angular/CHANGELOG.md#500-alpha3):
[code]
Would what I wrote below be a proper way to rewrite it with the new more-typed classes? If so, I can make a P

[2018-01-28 04:40] TedSander commented on #660
Yep sorry for not closing.

[2018-01-28 04:40] #660 closed

[2018-01-28 05:04] TedSander commented on #756
@matanlurey just a note that those ~100 instances do fan out a pretty good amount since they are used in some big primitives. I think under a year is a very reasonable timeline. A quarter/under a quarter might need a pretty big push by framework members to finish it off.

[2018-01-29 17:57] kevmoo commented on #783
Which version of pkg/test are you getting? Latest?

On Fri, Jan 26, 2018 at 11:33 AM, Patrice Chalin <notifications@github.com>
wrote:

[2018-01-29 18:44] leonsenft commented on #805
It's necessary for the router to know if a route is valid _before_ it navigates and renders the new view. The router has no way of knowing your `PlanningComponent` has any nested routes, since the router outlet  embedded in an `NgIf` doesn't exist when first created. This makes it impossible to validate whether a requested path matches a valid route.

This is an unfortunate limitation of the route

[2018-01-29 20:35] matanlurey opened #807 "Make the styles.dart file export a final, not a const"
As mentioned by @jakemac53, the current setup of `.css.dart` files emitted has (bad) effects on the build process, as any change to the CSS changes the public fields in that file, which in turn invalidates the Dart code.

We've discussed in the past moving it to `.template.dart`, with the following downsides:
* It potentially slows down the critical path (unsure if this is still true)
* Doing opti

[2018-01-29 20:47] matanlurey opened #808 "Inline the event plugin system into the compiler"
For example, the `KeyEventsPlugin` doesn't need to be at runtime.

(Placeholder for now)

[2018-01-29 20:48] matanlurey commented on #756
@TedSander Fair enough. Still reasonable to call it "legacy", or should we wait?

[2018-01-29 20:53] alorenzen commented on #807
Do we have to completely remove them, or would just reducing the public api help here, like what we did with the outliner for `.template.dart` files?

[2018-01-29 20:54] matanlurey commented on #807
We can't reduce the public API in any real way, since the public API is relied on.

We could make it private (i.e. `_styles`), but that means we'd have to use part files.

[2018-01-29 21:00] jakemac53 commented on #807
We should also check that in fact private constants are not included in the api summary before putting much work into this - I have a sneaking suspicion that they might be.

[2018-01-29 21:00] matanlurey commented on #807
@scheglov would you happen to know?

[2018-01-29 21:04] scheglov commented on #807
Unlinked summaries include all constant expressions - for both public and private fields.

[2018-01-29 21:04] leonsenft commented on #807
I don't believe part files would work, since a compiled style sheet isn't actually tied to a specific component. You can share the same style sheet URL with multiple components across different source files.

[2018-01-29 21:04] matanlurey commented on #807
Thanks! 😢

@jakemac53 any other ideas 😆

[2018-01-29 21:05] matanlurey commented on #807
@leonsenft:

Sure, I meant in the idea that we don't let you do that anymore. It doesn't look like it would buy us anything anyway, since private fields still impact summaries.

[2018-01-29 21:13] jakemac53 commented on #807
@matanlurey make them final instead of const? :D

Other random ideas:

- Make the styles injectable, and set up the providers inside `initReflector` which shouldn't cause an api change. This might effect the runtime speed/size though.
- Move the styles outside of Dart code entirely somehow (I don't know enough about how they are applied to suggest anything though). Technically you could even write

[2018-01-29 21:15] matanlurey commented on #807
NOOOOOOO. No. No.

Funny enough this has been talked about (@TedSander FYI), but I don't know if we've figured out a way to do this in a way that works with Dart2JS bundling, deferred loading, so on and so forth. **Maybe** we could do this just in dev-mode, but that's a dangerous practice.

[2018-01-29 22:49] chalin commented on #756
On a related note: will manually importing of the template (e.g. `import 'main.template.dart' as ng`) still be necessary or is that going away? It is currently used to call `initReflector()`.

[2018-01-29 22:56] matanlurey commented on #756
The `startApp<With|Legacy|Deprecated>` variant will require it.

The "recommended default", will not.

[2018-01-29 23:22] leonsenft commented on #756
@matanlurey Won't it still be required to import the generated file to use the generated component factory?

[2018-01-29 23:23] matanlurey commented on #756
Err, yes, just not for initReflector.

[2018-01-29 23:59] leonsenft commented on #806
Thanks @4cm4k1. Close, but your solution for the `Window` provider is no longer actually providing an instance of `Window`. You're now providing the string `'window'` for the `WINDOW` token, rather than the `Window` type. Instead this should work:

[code]

[2018-01-30 00:12] 4cm4k1 commented on #806
Thank you @leonsenft. Works great. So, I understand what the purpose of providing `'/'` as the value for `APP_BASE_HREF` is, in the context of `PathLocationStrategy`, but when I decided to upgrade `Provider` to `{Type}Provider`, it made me wonder what is it doing exactly for `Window`? Telling AngularDart that the `Window` class can be expected as the global `window` JavaScript object?

[2018-01-30 00:15] #594 closed

[2018-01-30 00:30] leonsenft commented on #806
It's providing the value of `window`to be used wherever a `Window` is injected as a dependency.

In this example, the [`HeroDetailComponent` injects a `Window`](https://github.com/dart-lang/angular/blob/master/angular_router/example/lib/hero_detail_component.dart#L23).

At first glance this doesn't look very compelling because `window` is a global that could have been used directly, but it actuall

[2018-01-30 00:55] leonsenft commented on #806
Of course, you're welcome to submit a PR. Thanks!

[2018-01-30 04:28] matanlurey opened #809 "Golden file updates do not work externally"
... I get a large diff on a clean branch @HEAD, which would not merge internally as-is.

(Internally I've been using my Bazel override method, so I'm part of the problem)

/cc @alorenzen

[2018-01-30 10:00] akaufmann commented on #805
Thank you @leonsenft for your explanation. What confused me a bit was that the main router outlet (in AppComponent) works embedded in an `ngIf`. Hmm, too bad it doesn't work for child routes as well. I guess I'll have to put in a few more `ngIf`'s or restructure my HTML.

[2018-01-30 10:00] #805 closed

[2018-01-30 13:13] chalin opened #811 "Template compiler should report duplicate reference variable declarations"
Duplicate template reference variable "declarations" can lead to confusing results. It would be great if the new template compiler would report this as an error. E.g.,

[code]

cc @kwalrath

[2018-01-30 17:42] leonsenft commented on #805
The reason it will work for the root outlet is because it registers itself with the router upon initialization, which will occur when the view embedded in `NgIf` is created:

https://github.com/dart-lang/angular/blob/5e8d5b2644bd2315b1a8bfab32a7627ff3f0529b/angular_router/lib/src/directives/router_outlet_directive.dart#L87-L92

This in turn triggers the initial navigation:

https://github.com/dart

[2018-01-30 18:25] matanlurey commented on #811
Technically this is OK, if you nest views, FWIW.

We could make sure you don't do this in the _same_ view, though.

/cc @alorenzen

[2018-01-30 18:27] matanlurey opened #812 "Use "unsafeCast" instead of relying on implicit downcasts"
This isn't supported in the SDK yet, but we'll pretend it is internally:

[code]

[2018-01-30 22:36] matanlurey opened #814 "@ViewChildren() with dart:html's Element does not work"
So going from...

[code]

... to ...

[code]

... does not work. We'd need a similar fix as one from `QueryList` -> `List`.

[2018-01-30 22:52] matanlurey commented on #814
(This isn't strictly supported, but it will make the migration much easier)

[2018-01-30 22:54] matanlurey commented on #537
Note that we technically already support this for `List`, and soon `Element`:
https://github.com/dart-lang/angular/issues/814

... so it probably makes sense to generalize this soon.

[2018-01-31 23:49] kevmoo opened #816 "Remove barback from angular_compiler"
https://github.com/dart-lang/angular/blob/c1331cd80334ced1b260c3746a7b2b40c1d824db/angular_compiler/pubspec.yaml#L13

[2018-01-31 23:51] kevmoo opened #817 "Remove or rewrite `doc/compiler_flags.md`"
References to `pub build` and `transformers`. So quaint...

[2018-02-01 02:25] matanlurey opened #819 "Migrate from CreateMergeDir -> --output="
The `CreateMergeDir` tool is deprecated now that `--output=` is supported.

[2018-02-01 02:38] matanlurey opened #820 "Use travis build stages when compiling"
Due to https://github.com/dart-lang/angular/issues/705, we shard our `_tests` suite manually.

Every `_tests` suite re-builds before running any tests, even though this could be done once:

https://github.com/dart-lang/angular/blob/227e479f8645afc64579d106a6bc50090130f3fd/tool/travis.sh#L34-L38

Looking at logs:

<img width="1251" alt="screen shot 2018-01-31 at 6 35 41 pm" src="https://user-images

[2018-02-01 02:51] matanlurey opened #821 "Use --no-sandbox for running Chrome on travis"
https://github.com/travis-ci/docs-travis-ci-com/blob/c1da4af0b7ee5de35fa4490fa8e0fc4b44881089/user/chrome.md#sandboxing

... instead of `sudo: true`:

https://github.com/dart-lang/angular/blob/227e479f8645afc64579d106a6bc50090130f3fd/.travis.yml#L1-L2

[2018-02-01 02:58] #787 closed

[2018-02-01 02:58] #816 closed

[2018-02-01 02:58] #817 closed

[2018-02-01 03:08] matanlurey opened #822 "Remove warnings that are printed during builds"
[code]

That is, we shouldn't have warnings in our _own_ builds unless they are expected.

[2018-02-01 03:42] kevmoo commented on #820
We could upload the build output to sort of memcache-ish thing.

With the Travis Build number.

Then check that cache before starting? Or something?

[2018-02-01 03:58] matanlurey opened #823 "Golden file test fails on travis"
https://travis-ci.org/dart-lang/angular/jobs/335930769:

[code]

[2018-02-01 04:08] matanlurey commented on #803
I'd be surprised they still work, we don't support the syntax.

[2018-02-01 04:09] matanlurey commented on #783
@kevmoo This is due to DDC no longer supporting mirrors, not pkg/test.

[2018-02-01 10:44] chalin commented on #803
Here is a example to show that `bind-` and `on-` still work:

[code]

Selecting the base checkbox causes the second checkbox to become checked:

I'm using Dart 2-dev.20, and Angular 5-alpha+4 with the new template compiler and dartdevc.

[2018-02-01 12:54] zarisi commented on #792
Tried it today, worked like a charm! Thanks.

Shouldnt this be the way required works by default?

[2018-02-01 16:22] natebosch commented on #820
https://docs.travis-ci.com/user/build-stages/

[2018-02-01 16:38] jakemac53 commented on #820
Nice find! I wonder if it would make sense to run all analyzer/dartfmt jobs in a stage before running actual tests as a sort of smoke test?

[2018-02-01 17:10] jakemac53 commented on #820
https://travis-ci.org/dart-lang/build/builds/336195701 doesn't look like we need to do anything special, regular caching works!

[2018-02-01 19:54] matanlurey commented on #820
Good to know! I can try that for ourselves too :)

[2018-02-01 20:10] matanlurey opened #825 "Skip tasks that could not have possibly been effected"
For example, updating files only in `_goldens` does not effect the other packages.

General rules:
* [ ] `_goldens` only impacts `_goldens`
* [ ] `_tests`_ only impacts `_tests`

It's possible to get more fine-grained than this, but probably not worth it.

[2018-02-01 20:11] matanlurey commented on #820
Stages that make sense in my head:

[ ] 1. Run analyzer (we don't run dartfmt on travis, since we are internal-first)
[ ] 2. Run build for `_tests`
[ ] 3. Run tests

[2018-02-01 20:14] matanlurey opened #826 "Remove pageloader dependency"
Given the move from PL2 -> PL3 (new, breaking API change), it would be better and more future-proof not to ship this as-is, and instead either consider a `angular_pageloader` package _or_  expose the various APIs pageloader needs without direct integration.

[2018-02-01 20:17] jakemac53 commented on #820
Yep that sounds good.

If you wanted to analyze the generated code you could move analyzer to after the build.

[2018-02-01 20:21] jakemac53 commented on #820
Fwiw, from playing around more with this it looks like you don't get the normal matrix expansion in custom stages, that only applies to the default "test" stage.

[2018-02-01 20:28] matanlurey commented on #820
Yeah I'm not sure how our current setups to be honest. @kevmoo

[2018-02-01 20:52] kevmoo commented on #820
If we can hand-hack a root `.travis.yml` + `tool/travis.sh` file, I'm ~sure we can get `mono_repo` to play along.

I'm not expert here. Just okay running 50 travis builds to get it working.

Reading here? https://docs.travis-ci.com/user/build-stages/#Build-Stages-and-Build-Matrix-Expansion

[2018-02-01 20:55] jakemac53 commented on #820
Ya, the key point there is `Each job included in jobs.include inherits the first value of the array that defines a matrix dimension. In the example above, without explicitly setting rvm: 2.4, the included job inherits rvm: 2.3.`.

So basically, if you have top level `env`, `dart`, etc, all stages other than the default one default to the first entry in each of those lists, and run in _only that co

[2018-02-01 20:56] kevmoo commented on #820
See https://docs.travis-ci.com/user/build-stages/using-yaml-aliases/

Assuming we can do w/ Dart what they do with rvm here...

On Thu, Feb 1, 2018 at 12:55 PM, Jacob MacDonald <notifications@github.com>
wrote:

[2018-02-01 21:01] #823 closed

[2018-02-01 21:05] matanlurey commented on #820
Anybody bored enough to want to try this?

[2018-02-01 21:06] matanlurey commented on #803
Then I'll delegate to @alorenzen - I don't understand how it still works.

[2018-02-01 21:07] matanlurey commented on #783
I'm proposing in https://github.com/dart-lang/angular/issues/826 we remove PL support.

[2018-02-01 21:07] matanlurey commented on #814
Now fixed at HEAD!

[2018-02-01 21:08] matanlurey commented on #809
Fixed by me at HEAD.

[2018-02-01 21:08] #809 closed

[2018-02-01 21:16] jakemac53 commented on #820
Looks like we could remove some of the boilerplate with that ya, ill take a look

[2018-02-01 21:17] jakemac53 commented on #820
I can take a go at it, playing around in the build repo for now but once that is in a good place I will try porting the same logic to angular, and then mono_repo assuming it works how we want.

[2018-02-01 21:18] kevmoo commented on #820
The yaml alias trick could help us DRY up the generated file, too – although it is a tiny bit tough to parse at first glance

[2018-02-01 21:22] matanlurey commented on #820
@jakemac53 Feel free to unassign if you get busy, but for now enjoy :)

[2018-02-05 09:29] jrote1 opened #830 "Cannot render multiple components outside of angular"
We have a site currently that renders multiple tags out to the page and then includes our angular js file but only one of them will get rendered. Our current workaround is shown below but it seems very hacky. I think this should be more straight forward.

[code]

[2018-02-05 13:14] furrary commented on #804
...is processed to: Foo\<strong>Bar\</strong>Baz (display: "Foo<strong>Bar</strong>Baz").

I find this really counter intuitive. IMO, if AngularDart aims to be<b>productive</b>this is not the way to go. We still use `.html`, so we need to respect some of its fundamental.

It may not be your intention, but these sentences make me feel like the Dart team only care about large companies who write web

[2018-02-05 17:49] matanlurey commented on #804
@furrary:

To be clear, you can _always_ use `preserveWhitespace: true`.

We need to be careful here, because we really don't want this to end up being _too_ configurable (i.e. too many states or an enum of options), and at the same time, don't want it to be confusing (it clearly is today, I agree with you here). I'll speak to the rest of the team this week and try to get a consensus on how to mov

[2018-02-05 17:53] matanlurey commented on #830
Would love to get some input from the team: @hterkelsen @leonsenft @alorenzen.

[2018-02-05 18:31] leonsenft commented on #830
To clarify, you'd like `bootstrap(MyComponent)` (or a new function) to render `MyComponent` for every `<my-component>` tag, not just the first?

[2018-02-05 20:18] matanlurey opened #831 "Add test that verifies pubspec versions are in sync"
Rather, that one package doesn't require `foo: ^1.0.0` and another `foo: ^2.0.0`.

[2018-02-05 21:42] srawlins opened #833 "NgFor's trackBy doesn't allow typed arguments"
When you use `NgFor` with `trackBy`:

[code]

you cannot use a simple trackByFn that accepts typed arguments, like so:

[code]

because the `trackByFn` typedef is said to accept dynamic:

[code]

This violates the USES_DYNAMIC_AS_BOTTOM static analysis error. Using dynamic as bottom will be an error in Dart 2.0.

It seems like it should be possible for the compiler to understand the type of `cats`

[2018-02-05 21:44] matanlurey commented on #833
Uh oh. @leonsenft.

[2018-02-05 23:11] Goodwine commented on #804
I disagree, the `preserveWhitespace:false` feature is buggy IMO.

The reason for its existence is letting us write readable HTML but have the compiler take care of things, basically removing all **extra** spaces.
The problem is that it's removing more than it should, and it's breaking expectations. It *must* render exactly the same thing regardless of the `preserveWhitespace` setting (again, IMO).

[2018-02-05 23:14] matanlurey commented on #757
Fixed at HEAD.

[2018-02-05 23:14] #757 closed

[2018-02-06 00:23] #794 closed

[2018-02-06 00:23] #820 closed

[2018-02-06 04:51] matanlurey commented on #804
Just so nobody is frustrated, we have consensus we should do _something_.

The primary maintainer of the AST code (@alorenzen) is out for a couple weeks, and I'd rather not make any decisions until he returns. Continue to please add your comments here on this bug, and we'll hopefully circle back soon.

[2018-02-06 13:25] jrote1 commented on #830
Yes this is what we require. But I think something that would be really cool would be something like `bootstrapAll(services)` that will find any components that tag is on the page and render, that would make it extremely flexible

[2018-02-06 17:33] matanlurey opened #840 "Remove barback from compiler, add dart_style"
These were warnings encountered during `pub lish`.

[2018-02-06 20:52] matanlurey opened #841 "Dart2: Compliance with ignored type cast failure"
Currently in DDC, the following type-casts are ignored, but _should_ fail:

[code]

These are _warnings_ in the development console (at runtime), but not errors. The language team is attempting to make these errors in DDC, as they will also be errors in the CFE-driven backends (eventually DDK and Dart2JS on Kernel?).

This is the master tracking issue for places in AngularDart we are violating eit

[2018-02-06 20:55] matanlurey opened #842 "Dart2: Compliance with uses_dynamic_as_bottom"
... also known as "fuzzy arrows".

Currently the following in the analyzer is ignored (just a warning), but should be an error:

[code]

For class methods, it's possible to more easily "get around this" using covariant:

[code]

This ~roughly generates the following:

[code]

There is no (sound) way to do this with closures, and the type theory/language folks can probably give a lot of good reason

[2018-02-06 21:01] matanlurey opened #843 "Dart2: Stop relying on AnalysisContext-only APIs"
In Dart2's move to a unified CFE (potentially AnalysisDriver first, then CFE), we can no longer use analyzer APIs in our compiler that are only supported in `AnalysisContext` (also known elsewhere as the "Task Model").

Unfortunately it's hard for me to know if we have violations (I know `computeNode` is one).

Known violations:
* [ ] Use of the `computeNode` API: https://github.com/dart-lang/angu

[2018-02-06 21:24] leonsenft opened #844 "Dart2: Collection literals in templates cause type cast failure"
Currently in DDC, binding a collection literal in a template where a typed collection is expected
[code]
generates

In Dart 2, this will become an error.

The culprit is the use of a `pureProxyN` function to change detect the bound values in the collection and build a new collection each time one changes.

https://github.com/dart-lang/angular/blob/0f6db9823667f13bd772425caa89321d5ff268d5/angular/l

[2018-02-06 23:57] matanlurey commented on #434
This is a WIP. In early code, it's looking ~OK, but with the following mistakes:

When the ViewCompiler generates code like so:

[code]

... it would need to insert trace statements ...

[code]

... if we do that, we should get ~100% feature coverage.

[2018-02-07 00:33] matanlurey commented on #434
We talked offline. This is probably OK, but we'll validate first that:

1. The general feature doesn't disrupt testing and development time noticeably.
2. Adding enter/exit doesn't create too much additional code in a typical large DDC application.

[2018-02-07 01:23] matanlurey commented on #844
Just for clarification, this would be "simpler" if we removed proxying literals, right @leonsenft?

(Albeit, with potential performance consequences)

[2018-02-07 02:45] leonsenft commented on #844
Can you elaborate more on what exactly you have in mind if we removed proxy literals?

A few ideas come to mind (mostly terrible).

1.  **Drop support altogether for literals in templates**

    We simply remove collection literals from the template grammar.
     -  Breaks users relying on this feature. :-1:
     - Simplifies template parser, intermediate ASTs, and code generation.

2.  **Rebuild

[2018-02-07 03:54] #840 closed

[2018-02-07 04:05] matanlurey commented on #844
Too many choices! I have choice paralysis!

We should gather a bit of data for what the impact of this would be, in case we run out of options and need to go down this route. I don't think it's the best option today, but depending on the date of Dart2 we might need to at least consider it.

Yeah, seems difficult to land, and I'd be worried about usage.

That being said, again, it depends on the am

[2018-02-07 04:06] matanlurey commented on #844
Also @leonsenft, nice use of emojis 👏

[2018-02-07 06:05] Aetet opened #846 "Change detection behaviour on direct input changes and high order components"
Hello.
I try to implement [high order component](https://reactjs.org/docs/higher-order-components.html) for redux-like selector API.

My first attempt - use attibute directive, which take component instance and set properties directly:
[code]
Inside directive:
[code]

But there's a problem - Parent is OnPushComponent and doesn't know that his input changed. Because it happens outside angular templ

[2018-02-07 15:43] matanlurey opened #847 "Expression parser crashes on _checkNoInterpolation"
Stack trace from @jimmyff: https://pastebin.com/WaMZUrNg

[2018-02-07 16:21] jimmyff commented on #847
I'm trying to migrate from angular 4 + router 1 to angular 5 + router 2. I'm getting this error when running `pub run build_runner serve`.

Component source files: (github wouldn't allow me to upload the .dart file directly)
[upgrade-dialog_component.zip](https://github.com/dart-lang/angular/files/1703840/upgrade-dialog_component.zip)

Error stacktrace:
[code]

[2018-02-07 17:13] matanlurey commented on #847
I'll take a look, thanks!

[2018-02-07 17:16] matanlurey commented on #847
Off-hand @jimmyff it looks like this:

I think you meant `[raised]` or `raised` not `(raised)`. We shouldn't crash, though.

[2018-02-07 17:21] matanlurey commented on #847
I ... think `(raised)` should never be legal, and probably the AST parser should reject it.

/cc @alorenzen @leonsenft @chalin WDUT?

[2018-02-07 17:37] matanlurey commented on #847
I have a fix, I believe, rather it will tell you what the error is instead of crashing.

[2018-02-07 17:40] matanlurey commented on #846
I don't think we have a good answer for this yet, though thank you for filing.

[2018-02-07 18:15] zacharydenton opened #848 "Structural directive microsyntax doesn't parse default @Input"
I'm creating a structural directive and would like users to be able to use it via the microsyntax (e.g. `*ngFor="let item of items; trackBy: trackByFn"`). My directive looks like this:

[code]

I can use this like `*deferredContent="shouldUseDeferredContent"` or `*deferredContent="width: 50; height: 100"`. However, if I try to combine the two (`*deferredContent="shouldUseDeferredContent; width: 50

[2018-02-07 18:38] chalin commented on #847
Right, it should be just `raised`.

You mean `(foo)` w/o an assigned (non-empty) expression? That seems reasonable.

[2018-02-07 18:52] leonsenft commented on #844
Agreed.

In hindsight I think this (2.) is by far the worst option. Better to temporarily bloat code size (3.), than to fundamentally break Angular's change detection contract.

Good point, and agreed.

Agree with you across the board on (5.). Your solution is _much_ more elegant than mine! What advantage does using a `Symbol` have over a string? In my experience the analyzer doesn't validate that

[2018-02-07 19:06] leonsenft commented on #846
Have you considered using [`exportAs`](https://webdev.dartlang.org/api/angular/angular/Directive/exportAs)? This would allow you to bind state from `StateProvider` to a component's inputs directly in the template.

Here's an example. I'd probably have just called the `exportAs` and `#` references all `state`, but I gave them more explicit names here to be clear what's going on.

[code]

[code]

Do

[2018-02-07 20:05] Aetet commented on #846
@leonsenft Yep. Thanks a lot! That's exactly what I need.

[2018-02-07 20:05] #846 closed

[2018-02-07 20:13] matanlurey opened #849 "Stop ignoring non-@Injectable annotated classes in providers"
The following is currently ignored for legacy reasons:

[code]

We should remove this logic, but it is a breaking change impacting Googlers.

[2018-02-07 20:30] matanlurey commented on #819
This is now fixed at HEAD.

[2018-02-07 20:30] #819 closed

[2018-02-07 20:34] matanlurey commented on #783
Closing as infeasible. See #826, we are removing support for pageloader at this time.

Once PL3 is available externally, we can re-add support.

[2018-02-07 20:35] #783 closed

[2018-02-07 20:37] matanlurey commented on #242
I don't think we need specific documentation here.

[2018-02-07 20:37] #242 closed

[2018-02-07 21:23] Aetet commented on #846
@leonsenft I research example more deeply and find out that it does not work for some cases. Like:
[code]
If there's no zone update - there's no update for onPushComponent. As workaround there's two options:
1. Pass parent ChangeDetectorRef and use change detector from there.
2. Use detectChanges from directive changeDetector.
[code]

One more question. Why detectChanges launch cd-cycle, but markF

[2018-02-07 21:28] matanlurey opened #850 "Consider it *our* error if a stack trace prints during compilation"
We should have an optional `-v` mode, potentially, but otherwise this hurts most users.

[2018-02-07 21:28] matanlurey opened #851 "Nicer compile-time debugging and logging"
* Use term colors
* Use more spacing
* Use more consistency with logged messages
* Don't show stack traces if possible

[2018-02-07 21:43] matanlurey commented on #850
Closing in favor of #851

[2018-02-07 21:43] #850 closed

[2018-02-07 23:15] kevmoo opened #853 "Remove override to pkg/analyzer?"
https://github.com/dart-lang/angular/blob/445400374e9facecd47c0000fcbcadd77b1b6928/angular_compiler/pubspec.yaml#L31

[2018-02-07 23:52] natebosch commented on #833
Can we get an example of the specific line where we get the warning in the generated template?

We talked about how we don't have enough information to add a type to the class, I'm wondering if we could somehow make the `trackByFn` a ctor argument or something and get inference to do the work for us...

[code]

[2018-02-07 23:55] leonsenft commented on #833
Even if that worked, `ngForTrackBy` is an input, so it's not passed through the constructor, but rather bound as a property during change detection.

[2018-02-07 23:57] natebosch commented on #833
How often do we think that's relied on? Would it be reasonable to require a static value?

[2018-02-08 00:00] leonsenft commented on #833
No idea, but constructor parameters are used for dependency injection, so we'd need to write some hacky special case code for this.

[2018-02-08 00:21] leonsenft commented on #846
Your first example doesn't work because you're making your change outside of the Angular zone. Angular relies on the end of a zone turn to trigger the change detection. You can always re-enter the zone if you want the change to be detected, although in this example there'd really be no point in running outside the zone at all.

[code]

I'm couldn't say for certain without digging into the code and

[2018-02-08 00:26] matanlurey commented on #844
@leonsenft is investigating the cost of more bloated code on our large internal clients.

[2018-02-08 00:26] matanlurey commented on #804
We've decided @alorenzen will look at this when he gets back ;)

[2018-02-08 00:30] srawlins commented on #833
I haven't used angular without bazel, but here's a fudged snippet of the .template.dart that I think would be generated by my cats example, from something built internally with bazel:

[code]

[code]

[2018-02-08 00:34] matanlurey commented on #851
Based on team review today:

OK. Already done in `build_runner`, we may be able to add for `bazel_codegen`:

* [ ] https://github.com/dart-lang/bazel/issues/210

OK.

* [ ] https://github.com/dart-lang/bazel/issues/211
* [ ] https://github.com/dart-lang/build/issues/980

OK. We'll need a `BuildError` base-error type, though.

* [ ] https://github.com/dart-lang/build/issues/981

And also, we'll wan

[2018-02-08 00:34] matanlurey commented on #842
Removing "needs review". We have one known issue being reviewed already.

[2018-02-08 00:36] #822 closed

[2018-02-08 00:36] #389 closed

[2018-02-08 00:36] #826 closed

[2018-02-08 00:37] natebosch commented on #833
It also looks like it's typical usage to pass the function through another component so it wouldn't be feasible to require it to be static.

[2018-02-08 00:38] matanlurey commented on #833
@MichaelRFairhurst's suggestion on chat is:

... and rely on implicit downcasts.

It would be hard to this generally, but might be easy enough to do for common cases.

[2018-02-08 00:40] natebosch commented on #833
😭

[2018-02-08 00:53] leonsenft commented on #844
There are two additional options not yet outlined.

  6. **Inference**

      I mentioned that this approach wasn't always feasible, but we may need to implement a hybrid approach. If that were the case, this approach would be the first choice, and only if we fail to infer the correct type would we fall back to another approach.

      This approach is very simple if the collection literal is the

[2018-02-08 08:39] jolleekin opened #855 "Support for dynamic content projection"
The same issue for AngularJS can be found [here][js_issue].

For my use case, I'm trying to create an Angular component that mimics the styling and behavior of the [XAML command bar][xaml_command_bar]. The command bar has one nice feature, that is, it automatically moves command buttons from the primary area to the secondary area if there's not enough width and move them back when there's enough w

[2018-02-08 10:36] jimmyff opened #856 "ParseErrorLevel.FATAL: No provider for NgControl"
I'm migrating from pub, angular4 & router1 to ddc+build_runner, angular5 and router2. I'm getting this issue with one of my components:

Error: `ParseErrorLevel.FATAL: No provider for NgControl`

### Component + directives:
[code]

### Component source files:
[settings-component.zip](https://github.com/dart-lang/angular/files/1706596/settings-component.zip)

### Stack trace:
[code]

[2018-02-08 16:05] jimmyff opened #857 "AST Parser allows the build to continue"
I'm getting the following error when running `pub run build_runner serve` (Using alpha+5):
[code]

I believe the error is due to the fact I have a Library builder error ( https://github.com/dart-lang/angular/issues/856 ). I suspect this as yesterday there were two initReflector errors but I fixed one of the library errors and now there is only one initReflector error.

If this is the case maybe th

[2018-02-08 16:09] jimmyff commented on #847
yep, my bad! Thanks for tracking down my mistake @matanlurey !

[2018-02-08 16:38] kevmoo opened #858 "angular_test: update to build_web_compilers ^0.3.0"
https://github.com/dart-lang/angular/blob/1e7eebe29d99372db9221e6ca045493dee2377d5/angular_test/pubspec.yaml#L21

[2018-02-08 19:25] eftikharEmad commented on #268
Can you please provide me with an example about it I did long time search about that in angular4 dart

[2018-02-08 20:39] matanlurey commented on #855
We don't plan to support dynamic content projection.

You could use `<template>` tags and move them around manually, using either the `ViewContainerRef` API or something higher-level like `ComponentLoader`:

https://github.com/dart-lang/angular/blob/master/doc/component_loading.md#load-next-to-a-location

[2018-02-08 20:39] #855 closed

[2018-02-08 20:42] #699 closed

[2018-02-08 20:42] #853 closed

[2018-02-09 01:27] #858 closed

[2018-02-09 04:09] jonahwilliams commented on #844
Just my 2c

Inference based on the Input type seems pretty reasonable - it's not like it will work at runtime if the types are wrong anyway.

I've never in two years of Angular Dart seen someone pass a literal in a template through a method or closure.  Though that doesn't mean people aren't using it of course, but it doesn't seem like an edge people would hit.

This seems like a can of worms, pos

[2018-02-09 06:04] leonsenft commented on #844
Yeah, ideally this ends up being the overwhelmingly common case, which gives us flexibility in choosing a rarely generated fallback option.

[2018-02-09 20:09] matanlurey opened #864 "Can we remove "placeholder" files?"
We have the concept of a `.ng_placeholder` file, which means, roughly:

_For `{file}.ng_placeholder` a `{file}.template.dart` will exist in a future phase._

This is because while we can check the file system for _dependencies_, our own current "target" (terminology varies based on `bazel` or `build_runner`) may not have wrote certain files yet. Imagine the following:

[code]

... and imagine `a.d

[2018-02-09 20:13] natebosch commented on #864
What are the downsides to having it?

Are we OK keeping the file as part of the build if we can remove it from the deployed output? https://github.com/dart-lang/build/issues/189

[2018-02-09 20:14] matanlurey commented on #864
Confusing our engineers when we remember it exists every 3-6 months 😆

This is certainly _better_, but not perfect.

[2018-02-09 20:20] leonsenft commented on #864
@natebosch I don't understand why the builder can't tell us that file (will) exists? Aren't all the outputs declared ahead of time?

[2018-02-09 20:30] jakemac53 commented on #864
@leonsenft we can know that it _might_ exist, but not that it _will_ exist.

[2018-02-09 20:32] natebosch commented on #864
In bazel we could know that it will exist. (since we have default content for it). We'd still need some brand new config to express our desire to pretend it exists without actually writing it.

[2018-02-09 20:33] leonsenft commented on #864
@jacob314 Why is that? Excuse my complete lack of knowledge of the package:build* family implementation, but don't you declare your inputs/outputs in the `build.yaml`?

So if I declare that for each `*.dart` file, a corresponding `*.template.dart` file exists, can we not first resolve which outputs will exist, before running the builders on the inputs?

Or can a builder opt not to generate the cor

[2018-02-09 20:34] jakemac53 commented on #864
@leonsenft Yes a builder can opt to not output a file it declares in build_runner, so we can avoid creating a bunch of empty files like we do in bazel.

[2018-02-09 20:35] leonsenft commented on #864
Understood, thanks!

[2018-02-09 20:40] matanlurey opened #865 "@{View|Content}Child{ren}: Make opt-in, verus opt-out"
Today, we opt-in to the (new) query code based on the following condition:

https://github.com/dart-lang/angular/blob/0c63585f841b1a52989387cfea1248402ee57e3e/angular/lib/src/compiler/view_compiler/compile_query.dart#L28-L30

I propose we invert it, and always use the new code branch _unless_ we see `QueryList`, versus opt-in of `List`. This would affect code using `@{View|Content}Child` as well,

[2018-02-09 22:39] matanlurey commented on #864
@jakemac53 How would you feel about at least removing these files in Bazel-mode?

[2018-02-09 22:40] matanlurey commented on #847
Fixed by https://github.com/dart-lang/angular/commit/51a33791b8a36c6a2f9f54c70681b91b7290e292.

[2018-02-09 22:40] #847 closed

[2018-02-09 22:50] jakemac53 commented on #864
@matanlurey  We could potentially remove it in both modes if we gave the builder access to the `generateFor` argument in the `BuilderOptions`?

Angular could know what it was asked to build, and from that make safe assumptions about what it will output. Same thing could work in bazel and build_runner.

We also already support proper invalidation based on the BuilderOptions.

[2018-02-09 22:51] matanlurey commented on #864
I'll leave the details up to you, but if you're OK with it would be nice to remove this complexity.

[2018-02-09 22:53] leonsenft commented on #864
@jakemac53 What is the distinction with that and what I asked? From your last reply I got the impression the builder could still potentially not produce that file?

[2018-02-09 23:23] natebosch commented on #864
tl;dr; - synced with Jake offline and letting you read `generateFor` isn't really feasible. We think that the placeholder file is the best solution to this problem and we hope that finding a solution for transient files will mitigate most of the negatives, but I think we'll have to live with the confusing pattern for the same reason we need to live with other workarounds to the limitations of `bui

[2018-02-09 23:57] yjbanov commented on #844
I probably don't have enough context to contribute anything meaningful to this discussion, but I'm failing to see how types affect performance at all. I'm assuming you are making a copy of the collection as a snapshot for a future change detection cycle. AFAICT, change detection does not call any methods on the elements of the collection, but merely compares them using `identical` (and maybe `==`?

[2018-02-09 23:59] yjbanov commented on #844
To clarify, by "not needing generic types" I mean that `Map` (i.e. `Map<dynamic, dynamic`) should work just fine (this should also be true for change detection inside `ng-for`, where `List<dynamic>` should suffice for keeping snapshots of previous values).

[2018-02-10 00:11] leonsenft commented on #844
@yjbanov Typing isn't about performance, but rather making templates sound. Left as they are, they'll cease to work in Dart 2. Any concern over performance is in regards to the solution, since some have performance implications. For example we can always fallback to local inference in the absence of knowing the type annotation to generate (solution 3.), but this would seriously bloat the generated

[2018-02-10 01:33] yjbanov commented on #844
Gotcha. If I may throw in an option, maybe another take on inference can work:

**8. Inferred collection type**

[code]

[2018-02-10 01:41] leonsenft commented on #844
The issue is we don't always have a way of easily determining the type of the map. Your solution is effectively equivalent to 6 in terms of the analysis required on the compiler's behalf.

[2018-02-10 21:08] matanlurey opened #867 "Broken at head due to analyzer change"
`The expression here has a type of 'void', and therefore cannot be used `:

[code]

See https://travis-ci.org/dart-lang/angular/jobs/339919099.

Not sure what is wrong/how to fix it yet, just FYI we can't merge.

/cc @kevmoo

[2018-02-10 21:09] matanlurey commented on #867
(`Dart VM version: 2.0.0-dev.23.0 (Fri Feb 9 21:28:55 2018 +0100) on "linux_x64"`)

[2018-02-10 21:39] srawlins commented on #867
CC @MichaelRFairhurst

[2018-02-11 06:58] jolleekin commented on #855
To use `ViewContainerRef`, I need to get hold of the `ViewRef`s of the projected command buttons. However, `@ContentChildren(MyCommandButton, read: ViewRef)` is resolved into an empty list. Is there a way to access the `ViewRef`s of the projected components?

my_command_bar.dart
[code]

my_command_bar.html
[code]

[2018-02-12 02:18] matanlurey opened #868 "Crashes building _tests on Travis"
https://travis-ci.org/dart-lang/angular/jobs/339919120

... even with `--low-resources-mode`:

[code]

I'm not sure what we can do :-/

/cc @natebosch @jakemac53, you're my only hope.

[2018-02-12 02:21] jodinathan opened #869 "builder throws "parameters on null" when you use an @Input() on a private var"
[code]

The error message:

[code]

It took me a while until I found that it was the input that was breaking my whole project.
We should add a better message there

Joe

[2018-02-12 15:27] jakemac53 commented on #868
We can take a look, does this happen consistently? I thought we were pretty stable so I wonder if something pushed it over the edge in one of the recent releases (performance tracking possibly?).

[2018-02-12 15:29] matanlurey commented on #868
I can't merge at all so yeah consistently

On Mon, Feb 12, 2018, 7:28 AM Jacob MacDonald <notifications@github.com>
wrote:

[2018-02-12 15:31] jakemac53 commented on #868
Ok, will make this a priority today then

[2018-02-12 16:45] matanlurey commented on #868
FWIW, this does only happen recently. So it could be something else (newest SDK, newest analyzer, changes to AngularDart in subtle ways), etc.

[2018-02-12 16:50] jakemac53 commented on #868
I am actually pretty sure its related to the performance tracker, we probably consume a decent amount of ram actually as a result of that (recording start/end times per input/builder combo).

I am working on making it so we don't track performance in low resource mode.

[2018-02-12 16:52] matanlurey commented on #868
❤️ ❤️ ❤️

[2018-02-12 17:18] jakemac53 commented on #868
:D https://travis-ci.org/dart-lang/angular/jobs/340580281

[2018-02-12 17:20] jakemac53 commented on #868
Hmm actually weird that didn't run in low resource mode and passed?

[2018-02-12 17:22] matanlurey commented on #868
Maybe try branching off my blocked PR? It's possible something in there
sends it over the edge?

On Mon, Feb 12, 2018, 9:20 AM Jacob MacDonald <notifications@github.com>
wrote:

[2018-02-12 18:39] jakemac53 commented on #868
So https://travis-ci.org/dart-lang/angular/jobs/340599170 did actually succeed but after 20 minutes (takes 3.5 locally with the same flags...). Then the travis build actually never exited which is weird. I noticed the hand edits to the travis yml file were reverted so I am trying with those re-added.

[2018-02-12 20:21] scheglov commented on #801
@matanlurey  See https://dart-review.googlesource.com/c/sdk/+/40600 for keeping directives with unresolved URIs.

[2018-02-12 20:32] matanlurey commented on #801
@scheglov Wow thank you so much!

[2018-02-12 21:48] matanlurey opened #871 "DDC failures with pkg/build missing source maps"
![screen shot 2018-02-12 at 1 47 40 pm](https://user-images.githubusercontent.com/168174/36121528-507d395e-0ffb-11e8-9dbb-06ed405462fc.png)

/cc @grouma @jakemac53 @natebosch

I'm not sure if this is pkg/test or pkg/build. Please help me triage this.

[2018-02-12 21:49] matanlurey commented on #868
@jakemac53 Has resolved this. Thanks!

[2018-02-12 21:49] #868 closed

[2018-02-12 21:49] matanlurey commented on #705
@grouma @nex3 How is this looking?

[2018-02-12 21:50] matanlurey commented on #801
@scheglov @MichaelRFairhurst

Can I get some confirmation we don't need this for Dart 2, or is this blocking Dart 2?

[2018-02-12 21:52] matanlurey opened #872 "Our users need a DDC Chrome extension released"
/cc @kevmoo for triage, @terrylucas, @vsmenon.

[2018-02-12 22:23] matanlurey commented on #705
Woohoo! `0.12.30+3` right? I'll verify.

[2018-02-12 22:24] grouma commented on #871
My guess is that this is a builder or more likely a DDC issue.

package:test gets the stack trace produced from DDC here:
https://github.com/dart-lang/test/blob/master/lib/src/runner/remote_listener.dart#L63

The test package does some mapping in the Dart2JS case but otherwise uses the stack trace as is, filtering out lines where appropriate:
https://github.com/dart-lang/test/blob/master/lib/src/f

[2018-02-12 22:45] kevmoo commented on #872
CC @alan-knight as well

[2018-02-12 23:13] MichaelRFairhurst commented on #801
My understanding is that computeNode() may lag behind dart 2/become less stable as dart 2 progresses. So I don't think it *blocks* dart 2, but I think it may become a point of stability for you guys at that point. But I will have to defer to @scheglov on this

[2018-02-12 23:23] matanlurey commented on #434
The rest of this is very non-trivial. We should review at the weekly about the priority of this.

[2018-02-12 23:24] matanlurey commented on #871
Not sure, just noticed it on Travis today.

[2018-02-12 23:27] matanlurey opened #873 "Use code_builder for view compiler?"
Needs review of what the priority of this should be versus other experiments.

[2018-02-12 23:31] matanlurey opened #874 "Organize code to have a "clean" angular/src/runtime.dart"
This is an internal library that will be imported by generated code and internals only.

(Internal issue b/66905746)

[2018-02-13 00:17] matanlurey commented on #451
Fixed at HEAD.

[2018-02-13 00:17] #451 closed

[2018-02-13 00:17] matanlurey commented on #494
I believe this is fixed with the new template parser.

[2018-02-13 00:17] #494 closed

[2018-02-13 04:47] #560 closed

[2018-02-13 04:47] #865 closed

[2018-02-13 04:52] matanlurey commented on #871
@grouma Yes, it occurs locally too:

[code]

[2018-02-13 05:00] matanlurey commented on #871
Might be related, but some classes of errors get no stack trace at all:

[code]

[2018-02-13 10:58] jodinathan opened #877 "Unable to spawn isolate: barback"
While I was trying to create a repro of another error, I encountered this one:

[code]

angular: "^5.0.0-alpha+5"
angular_forms: "^1.0.1-alpha+5"
angular_router: "^2.0.0-alpha+5"
Dart VM version: 2.0.0-dev.22.0 (Thu Feb 8 18:55:13 2018 +0100) on "macos_x64"

[2018-02-13 10:59] jodinathan commented on #877
[provider.zip](https://github.com/dart-lang/angular/files/1719613/provider.zip)

[2018-02-13 11:12] jodinathan opened #878 "Angular 5 is not resolving component providers"
I have an abstract class called FormBlock. There are 2 components that implements this interface, like:

[code]

However, Angular 5 is not recognizing it:

[code]

Dart VM version: 2.0.0-dev.22.0 (Thu Feb 8 18:55:13 2018 +0100) on "macos_x64"
  angular: "^5.0.0-alpha+5"
  angular_forms: "^1.0.1-alpha+5"
  angular_router: "^2.0.0-alpha+5"
dev_dependencies:
  build_runner: ^0.7.10+1
  build_web_comp

[2018-02-13 14:39] jakemac53 commented on #877
It looks like this import was removed 7 days ago (https://github.com/dart-lang/angular/commit/445400374e9facecd47c0000fcbcadd77b1b6928#diff-07cb77e8a9fa8791d74558652cd3c59dL3) but I don't know if that was published yet?

[2018-02-13 16:28] matanlurey commented on #877
Yup, thanks for mentioning @jodinathan.

It will be fixed in the next release (this week). In the mean-time you could add:

[code]

... just to get unblocked.

[2018-02-13 16:28] #877 closed

[2018-02-13 16:29] matanlurey commented on #878
@leonsenft is this related to `Visibility` changes?

[2018-02-13 17:10] matanlurey commented on #871
To reproduce, make some silly error in `_tests/test/**_test.dart`, and then:

[code]

[2018-02-13 17:22] jakemac53 commented on #871
You can repro this with e2e_example in the build repo as well, just add a test failure into test/hello_world_test.dart and load http://localhost:8081/hello_world_test.debug.html in your browser (or run `pub run build_runner test -- -p chrome`.

[2018-02-13 17:26] vsmenon commented on #871
Note, this is the utility that DDC uses (if available) to map JS stack traces back to Dart ones:

https://github.com/dart-lang/sdk/blob/master/pkg/dev_compiler/web/stack_trace_mapper.dart

This code is actually compiled via dart2js as a separate 'binary' on the page - see its `main` - it registers with DDC.  We include this on the html page - is this also there in the test case?

[2018-02-13 17:42] jakemac53 commented on #871
@vsmenon it is there in the test case yes, but its difficult to debug since its compiled with dart2js haha

[2018-02-13 17:48] jimmyff opened #880 "Whitespace in `let x1 = index ` causes silent failures."
I'm using alpha5 + DDC. This directive worked fine with Angular4 + pub.

The directive with selector `[gridCell]` `@Input()` never gets called/set when provided with index values from `*ngFor`. If I hardcode numbers instead of providing `x1` & `y1` then the `@Input()` gets successfully called/set.

Component template:
[code]

The directive is definitely loaded, I have it printing a message on cons

[2018-02-13 17:54] grouma commented on #871
I confirmed that the source maps are present and work (at least for debugging). I also confirmed that the stack trace provided to package:test from DDC is not correctly mapped. I'm fairly positive the issue resides with stack_trace_mapper.dart inside DDC. @jakemac53 said the build structure is slightly different in the external world which likely is the root cause. I think @vsmenon will need to ju

[2018-02-13 17:55] matanlurey commented on #880
Thanks! I'll take a look.

[2018-02-13 17:58] leonsenft commented on #878
@matanlurey no, this pattern should work regardless of `Visibility` setting. Besides, we haven't published the default visibility change yet. Perhaps it has something to do with the import prefixes? @jodinathan would you see if this works without the import prefixes? Otherwise I'll need a reproduction case to debug this further thanks!

[2018-02-13 18:13] scheglov commented on #801
Yes, AFAIK we don't need all users to switch to AnalysisDriver, but we might get results that are less close to Dart 2 than if you were using AnalysisDriver.

[2018-02-13 18:29] jimmyff commented on #880
Hi @matanlurey - I've created a bare bones project here showing the issue:
[ngfor-directive-issue-example.zip](https://github.com/dart-lang/angular/files/1721117/ngfor-directive-issue-example.zip)

[2018-02-13 18:34] matanlurey commented on #880
@jimmyff I'm getting a pass with a similar setup:

[code]

[2018-02-13 18:34] matanlurey commented on #880
Do you see anything silly different?

[2018-02-13 18:52] matanlurey commented on #841
I'm working on #688 towards this end.

[2018-02-13 19:08] jimmyff commented on #880
**_omg_** -it's the whitespace after the word index!!

Fails:
[code]

Passes:
[code]

That is a horrible gotcha!

[2018-02-13 20:11] matanlurey commented on #105
Closing this as not planned.

Future versions of Dart (`> 2.0.0`) might make changes here anyway, so we're not going to invest the time in changing the compiler (and current users) if this will again change soon. Sorry for the inconvenience.

[2018-02-13 20:11] #105 closed

[2018-02-13 22:11] matanlurey commented on #864
Thanks! I'm going to mark this as "not planned" for now.

[2018-02-13 22:11] #864 closed

[2018-02-13 22:12] matanlurey commented on #801
Thanks! I'm going to assume this is important, but not Dart2 beta-blocking important.

[2018-02-13 22:13] matanlurey commented on #801
/cc @natebosch, because if you end up wanting to move build to analysis driver, this issue will become blocking. So delegating to you to determine if we need more movement here or not.

[2018-02-13 22:14] natebosch commented on #801
We'll be taking a look across build package users for this at some point. We'll definitely make a lot of noise about it if it's going to become blocking.

[2018-02-13 22:14] matanlurey commented on #873
Marking as lower priority, for now.

[2018-02-14 00:01] matanlurey opened #885 "Update ROADMAP.md to reflect 2018 priorities"
This is a placeholder issue for tracking updating:
https://github.com/dart-lang/angular/blob/master/ROADMAP.md

... after the Dart internal steering/summit, we'll have a better idea of what to put here.

[2018-02-14 00:08] matanlurey commented on #705
I'm trying @ https://github.com/dart-lang/angular/pull/886, looks good locally!

[2018-02-14 00:23] matanlurey commented on #851
We can move forward without `package:build` integration for now.

[2018-02-14 00:34] LorenVS opened #887 "Support a sharding API"
Our AngularDart application is embedded on a page with other frameworks. Those other frameworks dynamically request content from the AngularDart application, and that content is spread throughout the DOM. In order to facilitate this, we depend on a number of unsupported/unstable APIs. It is worth exploring how much of this could be stabilized.

First, we create a root injector and initialize Angul

[2018-02-14 00:35] matanlurey commented on #887
/cc @TedSander @nshahan

We've talked about having a stable "sharding" API for these advanced use cases.

... but we don't have anything concrete. Do you have a proposal or API you'd like to see?

[2018-02-14 00:39] matanlurey commented on #705
Nice! It works on travis, and in a fraction of the time before:

<img width="1329" alt="screen shot 2018-02-13 at 4 38 40 pm" src="https://user-images.githubusercontent.com/168174/36182013-6172c3be-10dc-11e8-94ed-24f8eb96bb39.png">

Great job @nex3 and @grouma!

[2018-02-14 00:39] #705 closed

[2018-02-14 00:40] LorenVS commented on #887
Optimally, I would like to see the the first code sample combined into a single public API, optimally taking a list of providers as an argument. I'm not sure how that would impact the planned DI changes though. I've heard that eventually the only way to create a root injector will by by creating a root component, but that kind of defeats this usage pattern by default.

`registerChangeDetector` and

[2018-02-14 00:41] matanlurey commented on #887
Definitely taking providers as an argument is out. You could use `@GenerateInjector`:

[code]

... if that part works for you, hiding the complexity of attach/detach seems easy enough.

[2018-02-14 00:43] LorenVS commented on #887
Does that mean that the `bootstrapSharded`(or whatever) call would take an Injector as a parameter? Would the root Angular injector become a child of that injector?

[2018-02-14 00:45] matanlurey commented on #887
@LorenVS:

That sounds reasonable. Something like:

[code]

The parent, not the child.

[2018-02-14 00:46] LorenVS commented on #887
How would you get a reference to the created injector? Wouldn't ApplicationRef.injector return Angular's injector, which wouldn't be able to provide anything from the user supplied injector

[2018-02-14 00:59] matanlurey commented on #887
No, it would return the user-supplied injector, whose parent will be the Angular injector.

Here is an example internally:

[code]

[2018-02-14 01:02] LorenVS commented on #887
In that case this seems like it would work for us

[2018-02-14 01:03] matanlurey commented on #887
Great. Go ahead and experiment with `@GenerateInjector`.

I'll convene the Jedi council to figure out what API we want to formally support.

[2018-02-14 14:27] jimmyff opened #890 "Type 'JSArray' is not a subtype of type 'String' [DDC]"
I'm getting the following exception which I don't know how to debug. It only mentions by code in `detectChangesInternal` however it references the compiled js and it doesn't tell me which component it originated from. I have this exception across numerous routes/components.

[code]

[2018-02-14 16:39] matanlurey commented on #890
Hi @jimmyff:

DDC source maps currently aren't being applied, but they will be soon:
https://github.com/dart-lang/angular/issues/871

For this specific class of error, I did write a bit on the main site:
https://www.dartlang.org/guides/language/sound-problems#invalid-casts

[2018-02-14 16:51] jodinathan opened #891 "materialProviders mismatch as JSArray<Object>"
Just try to add the *materialDirectives* to the bootstrapStatic provider list like:

[code]

However, it works if you change it to popupBindings like:
[code]

[2018-02-14 16:54] matanlurey commented on #891
As discussed on Gitter, please file in `angular_components`.

[2018-02-14 16:54] #891 closed

[2018-02-14 17:25] jimmyff opened #892 "angular_router 2 : no blank path route hangs browser"
Not having a route declared with a blank path hangs Chrome. Even if I specify useAsDefault. I've had this on two separate projects.

[2018-02-14 17:31] jodinathan commented on #878
Found the problem. There was a file that I wasn't using anymore that had some tag in an incorrect order. For some reason, prior to Dart 2 and angular 5, it didn't throw an error, now it did.
Took me a while to find it out.
Sorry and thank you guys! =]

[2018-02-14 17:31] #878 closed

[2018-02-14 17:48] jimmyff commented on #890
Thanks for the info @matanlurey. I'll sit tight and wait for source maps!

[2018-02-14 18:38] matanlurey commented on #892
@leonsenft

[2018-02-14 18:39] matanlurey commented on #890
I'm closing this issue as there is nothing actionable for my team other than waiting.

[2018-02-14 18:39] #890 closed

[2018-02-14 18:40] leonsenft commented on #892
@jimmyff Could you please provide a reproduction case? I haven't experienced this issue myself.

[2018-02-14 20:11] matanlurey commented on #871
As discussed offline, I believe either @jakemac53 and/or @grouma will need to own this?

[2018-02-14 20:12] grouma commented on #871
Discussed with @jakemac53. He'll lead the investigation and I can help out when needed.

[2018-02-14 20:33] matanlurey commented on #221
This hasn't gotten a lot of traction, so I'm closing for now.

[2018-02-14 20:33] #221 closed

[2018-02-14 20:33] matanlurey commented on #305
This hasn't gotten a lot of traction, so I'm closing for now.

[2018-02-14 20:33] #305 closed

[2018-02-14 20:33] matanlurey commented on #81
This hasn't gotten a lot of traction, so I'm closing for now.

[2018-02-14 20:33] #81 closed

[2018-02-14 20:35] matanlurey commented on #511
A bit of help/ideas here: https://github.com/dart-lang/test/issues/765

[2018-02-14 20:59] chalin commented on #511
Another update (FYI): I've been keeping the site-webdev 5-dev branch up-to-date w.r.t. Angular releases (so we're at 5-alpha+5 atm). Here is an [updated Travis log](https://travis-ci.org/dart-lang/site-webdev/builds/341579560). E2E are written using protractor, are currently running over all ng example apps as built from the ddc and dart2js. Of course it'll be nice to have a Dart equivalent of pro

[2018-02-14 21:52] #617 closed

[2018-02-14 21:52] #849 closed

[2018-02-14 21:53] matanlurey commented on #462
I wonder if the newer `bootstrapFactory` (better name pending) is good enough here?

[2018-02-14 21:56] leonsenft commented on #462
Closed since `bootstrapFactory` doesn't provide these services. :smile:

[2018-02-14 21:56] #462 closed

[2018-02-14 21:59] leonsenft commented on #462
Well it does provide null for `Testability`, but this is necessary until we resolve the original problem. I suggest we revisit this in the future when (hopefully) everyone has migrated to `bootstrapFactory` and thus removed any dependency on these services.

[2018-02-15 00:01] leonsenft commented on #833
What if we added a generic type parameter to `NgFor`, which we inferred from the bound `Iterable`? This would allow us to type the `TrackByFn`.

[code]

We even get this type for free, since we're already inferring it on behalf of the locals optimization we made recently.

https://github.com/dart-lang/angular/blob/4bed3e81b1a9c501d1c8c3ab1e9ad245a54b871e/angular/lib/src/compiler/template_optimize.

[2018-02-15 01:16] alorenzen commented on #636
So now that we integrate with `mono_repo` tool, this is actually really easy. You can just run `mono_repo presubmit --recursive` to essentially run the entire travis test suite locally.

Not sure where exactly we want to add this in the documentation, I could see it going in either `README.md` or `CONTRIBUTING.md`.